extends ../../pugs/html

block append vars
  include _vars

block append style
  +cssv(assetsUrl+'css/demo.css')
  style.
    .nav-button { min-width: 10rem; }
  //- style.

block views
  +view

    block nav
      //- +nav#_nav: ul: +lia
      include _nav
      +navbar

    block header
      //- +header#_header
      +header#_header
        h1._h1 !{header}
        p !{description}
        hr

    block pre
      //- +pre#_pre

    block main
      //- +main#_main: article| main article
      +main#_main: article| main article

    block footer
      //- +footer#_footer
      +footer#_footer
        hr
        p._text-centerx !{copyright}
    
    block aside
      //- +aside#_aside
