style.
  #logo {
    display:block;
    width: 6.2rem;
    margin: 0;
    padding: 0.8rem;
    cursor: pointer;
    transition: background-color 0.5s;
  }
          #logo:hover { background:#ccc; transition: none; }
  ._dark #logo:hover { background:#333 }
  #logos   { font-size: 32px; font-weight: bold; }
  #tagline { font-size:11px; padding-bottom: 0.4rem; letter-spacing: 0.05em; margin-top: -0.6em; }
//-
  #logo ._color { color: ##{cbg} }

+a(homeUrl)._text-center._numb._no-color._no-u#logo
    #logos #[span._color LO]#[span._color-1 GO]
    +_
    #tagline._uppercase._b Your tagline