//- +nav#_nav: ul: +la

mixin navlink(ref='')
  +_a(ref)._nav-item: block

+nav#_nav
  //- +navlink(homeUrl)| Home
  +navlink('full_screen.html')| Full
  +navlink('split_screen.html')| Split
  +navlink('flex_gallery.html')| Flex
  +navlink('classic_page.html')| Page
  +navlink('classic_list.html')| List
  +navlink("blank.html")| Blank
  +navlink('closed.html')| Closed
  +_a(homeUrl+"404.html")._nav-item| 404
  +_a(homeUrl+"500.html")._nav-item| 500