//- +nav#_nav: ul: +lia

mixin template_link(ref='')
  +_a(templateUrl+ref)._nav-item: block

mixin menu
  //- +template_link(homeUrl)| Home
  +template_link('full_screen.html')| Full
  +template_link('split_screen.html')| Split
  +template_link('flex_gallery.html')| Flex
  +template_link('classic_page.html')| Page
  +template_link('classic_list.html')| List
  +template_link("blank.html")| Blank

mixin navbar
  #_navbar._flex
    ._f-12-1._nav-color#_logo-flex: include _logo
    ._fill._nav-color(style="min-width:10rem"): +nav#_nav: +menu
    ._f-12-1._text-right._pa-x5r._nav-color: +changeThemeLink._navChangeThemeLink._nav-item._nav-icon: +isvg(svgi.compare)
