//- +nav#_nav: ul: +lia

mixin template_link(ref='')
  +_a(templateUrl+ref)._nav_item: block

mixin menu
  //- +template_link(homeUrl)| Home
  +template_link('full_screen.html')| Full
  +template_link('split_screen.html')| Split
  +template_link('flex_gallery.html')| Flex
  +template_link('classic_page.html')| Page
  +template_link('classic_list.html')| List
  +template_link("blank.html")| Blank

mixin navbar
  #_navbar._flex
    ._f_12_1._nav_color._text_center: include _logo
    ._fill._nav_color(style="flex-basis:20rem"): +nav#_nav: +menu
    ._f_12_1._text_right._pa_x5r._nav_color: +changeThemeLink._navChangeThemeLink._nav_item._nav_icon: +isvg(svgi.compare)
