//- +nav#_nav: ul: +lia

mixin menu_link(ref='')
  +_a(templateUrl+ref)._link: block

mixin menu(n)
  -
    temp = [
      ['index.html','Home'],
      ['full_screen.html','Full'],
      ['split_screen.html','Split'],
      ['flex_gallery.html','Flex'],
      ['classic_page.html','Page'],
      ['classic_list.html','List'],
      ["starter.html",'Starter'],
    ];
  each v in temp
    +menu_link(v[0])=`${v[1]}`

include _logo
mixin navbar
  #_navbar._flex
    ._f_min._nav_color._text_center: +logo
    ._fill._nav_color(style="flex-basis:20rem"): +nav#_nav._no_print_href: +menu
    ._f_min._text_right._pa_x5r._nav_color: +changeThemeLink._navChangeThemeLink._link._nav_icon: +isvg(svgi.compare)
