-
  name           = "(unnamed)"
  shortName      = ""
  brandName      = ""

  title          = "(untitled)"
  description    = "(undescribed)"
  author         = "(unknown)"

  url            = ""

  og_title       = title
  og_description = description
  og_type        = "website"
  og_url         = url+"?utm_source=homescreen"
  og_image       = ""
  og_imageAlt    = ""
