extends _html

block append vars
  - heading = `Blank Page`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `Just a blank page to start building.` )
  - updateUrl( url+"blank.html" )

block append style
  //- style.

block main
  +main#_main: article._ma| Write your content here.
