extends _template

block append vars
  include _vars
  -
    file           = 'blank_template'
    url            = url+`${file}.html`
    title          = `${file}`
    description    = `A ${file} helps create website from scratch.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.
    ._main_layout { margin:1em }
  //- 

block header

block main
  +main#_main: article| This is a #{file}

block footer