extends _html

block append vars
  - heading = `Flex Gallery`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `This template helps create a full page gallery to showcase your collection` )
  - updateUrl( url+"flex_gallery.html" )

block append style
  style.

    #_html article .header{ text-align:center; margin:1em; }

  //- style.

block main
  +main#_main: article

    a#1
    ._flex
      ._f_1
        .gu: .o.o1-1
    //-

    a#2
    ._flex
      ._fill
        .gu: .o.o2-2
      ._fill
        .gu: .o.o1-2
        .gu: .o.o1-2
    //-

    a#3
    ._flex
      ._fill
        .gu: .o.o3-3
      ._fill
        .gu: .o.o2-3
        .gu: .o.o1-3
      ._fill
        .gu: .o.o1-3
        .gu: .o.o2-3
    //-

    a#4
    ._flex
      ._fill
        .gu: .o.o4-4
      ._fill
        .gu: .o.o3-4
        .gu: .o.o1-4
      ._fill
        .gu: .o.o2-4
        .gu: .o.o2-4
      ._fill
        .gu: .o.o1-4
        .gu: .o.o2-4
        .gu: .o.o1-4
    //-

