extends _template

block append vars
  include _vars
  -
    file           = 'full_flex'
    url            = url+`${file}.html`
    title          = `${file}`
    description    = `A ${file} helps you create an impressive gallery to showcase your collection.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  +css(homeUrl+'assets/css/demo.css?v='+version)
  style.
    #_html article .header{ text-align:center; margin:1em; }
  //- 

block main
  +main#_main: article
    .header
      h1._h1 Create a Full Flex Gallery
      p Showcase your collection to evoke emotion and inspire awe.
    //- 
    a#1
    ._flex
      ._f-1
        .gu: .o.o1-1
    //-
    a#2
    ._flex
      ._fill
        .gu: .o.o2-2
      ._fill
        .gu: .o.o1-2
        .gu: .o.o1-2
    //-
    a#3
    ._flex
      ._fill
        .gu: .o.o3-3
      ._fill
        .gu: .o.o2-3
        .gu: .o.o1-3
      ._fill
        .gu: .o.o1-3
        .gu: .o.o2-3
    //-
    a#4
    ._flex
      ._fill
        .gu: .o.o4-4
      ._fill
        .gu: .o.o3-4
        .gu: .o.o1-4
      ._fill
        .gu: .o.o2-4
        .gu: .o.o2-4
      ._fill
        .gu: .o.o1-4
        .gu: .o.o2-4
        .gu: .o.o1-4
    //-

