extends _html

block append vars
  - heading = `Split Screen`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `This template helps create an impressive page.` )
  - updateUrl( url+"split_screen.html" )

block append style
  style.

    #_html .hero2 { margin:2em auto; max-width:640px; }
    @media (max-width: 500px) {
      #_html .hero2 { margin:2em 1em; }
    }

  //- style.

block main
  +main#_main: article
    ._flex
      ._fill
        .gu: .o.o4-4
      ._fill
        .gu: .o.o4-4
    //- flex

    .hero2._text_center 
      h2._h1 Featured Contents and Success Stories
      p Show the incredible accomplishments that are shaping your world today.

    ._flex
      ._fill
        .gu: .o.o3-3
      ._fill(style="max-width:20em")
        .gu: .o.o1-3
        .gu: .o.o1-3
        .gu: .o.o1-3
    //- flex

    .hero2._text_center 
      h2._h2 Multiple variation to choose from
      p Mix and match split-screen variations while maintaining user's read-flow.

    ._flex
      ._fill(style="max-width:20em")
        .gu: .o.o1-3
        .gu: .o.o1-3
        .gu: .o.o1-3
      ._fill
        .gu: .o.o3-3
    //- flex
