//- +nav#_nav: ul: +lia

mixin menu_link(ref='')
  +_a(ref)._link: block

mixin menu(n)
  -
    temp = [
      ['./','Home'],
      ['starter.html','Starter'],
    ];
  each v in temp
    +menu_link(v[0])=`${v[1]}`

mixin navbar
  #_navbar._flex
    ._f_min._pa_x5r._nav_color._text_center
    ._fill._nav_color(style="min-width:10rem"): +nav#_nav: +menu
    ._f_min._pa_x5r._nav_color._text_right: +changeThemeLink._navChangeThemeLink._link._nav_icon: +isvg(svgi.compare)
