extends _html

block append vars
  - heading = `Sample Home`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `A little example of a new website.` )
  - updateUrl( url+"index.html" )

block append style
  //- style.

block main
  +main#_main: article
    p Write your interesting content here.
    p #[+a(homeUrl)._btnlink #[span._btnlabel OK]]
  
