extends _html

block append vars
  - heading = `Starter Page`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `Just a blank page to start building.` )
  - updateUrl( url+"starter.html" )

block append style
  //- style.
