// ===================================================== REFERENCE
/* 
                                |   |
                              0123-4567
                              fedc-ba98
                                | - |
*/
// ===============================================================

// #0066CC
$bg_9_1 : #222222;
$bg_9_2 : #002851;
$bg_9_3 : #003d7a;
$bg_9_4 : #0051a3;
$bg_9_5 : #0066CC;
$bg_9_6 : #3284d6;
$bg_9_7 : #65a3e0;
$bg_9_8 : #99c1ea;
$bg_9_9 : #dddddd;
 
$tc_9_1 : #3284d6;
$tc_9_2 : #65a3e0;
$tc_9_3 : #99c1ea;
$tc_9_4 : #cce0f4;
$tc_9_5 : #FFFFFF;
$tc_9_6 : #002851;
$tc_9_7 : #003d7a;
$tc_9_8 : #0051a3;
$tc_9_9 : #0066cc;
 
// #ee8800
$bg_4_1 : #222222;
$bg_4_2 : #5f3600;
$bg_4_3 : #8e5100;
$bg_4_4 : #be6c00;
$bg_4_5 : #ee8800;
$bg_4_6 : #f19f32;
$bg_4_7 : #f4b765;
$bg_4_8 : #f8cf99;
$bg_4_9 : #dddddd;
 
$tc_4_1 : #f19f32;
$tc_4_2 : #f4b765;
$tc_4_3 : #f8cf99;
$tc_4_4 : #fbe7cc;
$tc_4_5 : #FFFFFF;
$tc_4_6 : #5f3600;
$tc_4_7 : #8e5100;
$tc_4_8 : #be6c00;
$tc_4_9 : #ee8800;
 
// #DD1111
$bg_3_1 : #222222;
$bg_3_2 : #580606;
$bg_3_3 : #840a0a;
$bg_3_4 : #b00d0d;
$bg_3_5 : #DD1111;
$bg_3_6 : #e34040;
$bg_3_7 : #ea7070;
$bg_3_8 : #f19f9f;
$bg_3_9 : #dddddd;
 
$tc_3_1 : #e34040;
$tc_3_2 : #ea7070;
$tc_3_3 : #f19f9f;
$tc_3_4 : #f8cfcf;
$tc_3_5 : #FFFFFF;
$tc_3_6 : #580606;
$tc_3_7 : #840a0a;
$tc_3_8 : #b00d0d;
$tc_3_9 : #dd1111;
 
// #808080
$bg_2_1 : #222222;
$bg_2_2 : #333333;
$bg_2_3 : #4c4c4c;
$bg_2_4 : #666666;
$bg_2_5 : #808080;
$bg_2_6 : #999999;
$bg_2_7 : #b2b2b2;
$bg_2_8 : #cccccc;
$bg_2_9 : #dddddd;
 
$tc_2_1 : #999999;
$tc_2_2 : #b2b2b2;
$tc_2_3 : #cccccc;
$tc_2_4 : #e5e5e5;
$tc_2_5 : #FFFFFF;
$tc_2_6 : #191919;
$tc_2_7 : #333333;
$tc_2_8 : #4c4c4c;
$tc_2_9 : #666666;
 
// #222222
$bg_1_1 : #000000;
$bg_1_2 : #111111;
$bg_1_3 : #222222;
$bg_1_4 : #dddddd;
$bg_1_5 : #eeeeee;
$bg_1_6 : #ffffff;
 
$tc_1_1 : #444444;
$tc_1_2 : #888888;
$tc_1_3 : #cccccc;
$tc_1_4 : #333333;
$tc_1_5 : #666666;
$tc_1_6 : #999999;
 
// ==============================
// color accents
// ==============================

$light_blue   : #1b36b0;
$light_purple : #7a1b7a;
$light_orange : #DD8811;
$light_red    : #DD1111;
$light_green  : #1e8f1e;
$light_contra : #000000;

$dark_blue   : #7a8eea;
$dark_purple : #c17ac1;
$dark_orange : #e39f40;
$dark_red    : #e34040;
$dark_green  : #009900;
$dark_contra : #ffffff;

// base color

$light_tc        : $tc_1_4;
$light_bg        : $bg_1_4;

$dark_tc         : $tc_1_3;
$dark_bg         : $bg_1_3;

// groove

$light_shine     : $bg_1_6;
$light_shade     : $tc_1_6;

$dark_shine      : $tc_1_1;
$dark_shade      : $bg_1_1;

// button

$light_button_tc : $tc_1_4;
$light_button_bg : $bg_1_6;

$dark_button_tc  : $tc_2_3;
$dark_button_bg  : $bg_2_3;

// color names

$light_link_tci  : $light_blue;
$light_link_tcv  : $light_purple;
$light_link_tch  : $light_orange;
$light_link_tca  : $light_red;

$dark_link_tci   : $dark_blue;
$dark_link_tcv   : $dark_purple;
$dark_link_tch   : $dark_orange;
$dark_link_tca   : $dark_red;

// ============================================================ */