extends _html

block append vars
  - heading = `Ace Builder (Info)`
  - updateTitle( `${heading}` )
  - updateDescription( `An info page.` )
  - updateUrl( siteUrl+"info.html" )

block main
  +main#_main: article

    section#acelinks._p
      +backlink._link._nav_icon: +itext|&larr;
      +_a(homeUrl,"Go to Ace Template Home")._link| Ace Builder
      =' | '
      +_a("---","Simulate a real 404")._link._nav_icon._no_print: +middots
      +_a("404.html","When a browser lands on a missing page.")._link| 404
      +_a("500.html","When your server encounters an error.")._link| 500

    hr

    h1._h7 !{heading}

    hr

    section
      +pageData

    hr
