extends ../../core_2/_html

block append vars
  include _vars
  - layout = 'menumakan/_html'
  - topRightNav = false
  - navbar = false

//- block updatePageData
  - updateTitle( heading )
  - updateDescription( about )
  - updateUrl( siteUrl + filename, og_type )
  - updateImage( og_image, og_imageAlt )

block script
  //- +jsv(src)

  if INCLUDE_THEMEJS
    +jsv(assetsUri+'js/theme_v1.0.js')(defer)

  if INCLUDE_SERVICE_WORKERS
    +jsv(assetsUri+'js/sw.j')(defer)