//- ==============================================================
//- Menu Makan - Configurations
//- ==============================================================
//- Project specific configurations
//- Defaults can be overriden by pages as necessary.
//- ==============================================================
-
  name           = 'Menu Makan';
  author         = 'MenuMakan.com';
  publisher      = 'MenuMakan.com';
  copyright      = `Copyright ${thisYear} - ${author}`;

  version        = '1.0'; // please update package.json too
  build          = '0.1'; // check README to verify changes

  //- urls
  siteUrl        = 'https://menumakan.page.dev/';
  authorUrl      = 'https://github.com/techie-joe/';
  sourceUrl      = 'https://github.com/techie-joe/ace/';
  builderUrl     = 'https://github.com/techie-joe/_ace/';
  localUrl       = 'http://localhost/ace/menumakan/';

  homeUri        = '/ace/menumakan/'

//- ==============================================================
