extends _html

block append vars
  - filename = 'index.html'
  - heading  = 'Menu Makan'
  - about    = 'Senarai makanan menarik untuk anda.'

block article
  article._article
    div#menu.container: ._text_center._b._i| Loading menu ...

block append script
  .
    <script id="menu-template" type="text/x-handlebars-template">
      <div id="header" class="row text-center">
        <div class="col-md-6 offset-md-3 col-lg-7 mb-4 _no_overflow">
          <h1 class="logo mb-2">&#128020;<br>Clucker!</h1>
          <p>Our grilled chicken is fresh, never frozen and marinated in <span class="_no_wrap">PERi-PERi</span> for 24 hours before being flame-grilled.</p>
        </div>
      </div>
      <div class="row">
        {{#each this as |category|}}
          <div class="col-md-6 _mv">
            <div class="category">
              <h3 class="mb-4 mt-2">{{@key}}</h3>
              <ul class="list-unstyled">
                {{#each this as |item|}}
                  <li class="item d-flex align-items-center mb-3">
                    <div class="name">{{item.item}}</div>
                    {{#if item.isVegetarian}}
                      <div class="v">V</div>
                    {{/if}}
                    <div class="price ml-auto">&pound;{{item.price}}</div>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/each}}
      </div>
    </script>