extends _html

block append vars
  - filename = 'index.html'
  - heading  = 'Menu Makan &trade;'
  - about    = 'Menus Made Easy, Choices Made Delicious!'

//- block append style
  style.
  //- style.

block main
  +main#_main: article._article#menu

mixin template
  script(type="text/x-handlebars-template")&attributes(attributes): block

block pageFooter
  ._pageFooter._defaultFooter
    hr
    p._small._system: +a(homeUrl)._link._l &copy; !{copyright}

block append script

  +template#intro-template
    -
      let _examples = [
        ['localhost/ace/menumakan', '(Demo A)'],
        ['localhost/ace/menu_A', '(Demo B)'],
        //- 'api.sheety.co/phill/cluckerRestaurant',
        //- 'api.sheety.co/ed6904a0d8a396880b2772c9bf093d33/restaurantMenu',
      ];

    form#menuLocator._p(onsubmit="event.preventDefault();findMenu();")
      h3.title._no_wrap| Open your menu
      .input._color_1._radius_x5r._flex
        input#menuLocation.input-txt._radius_x5r(type='text' placeholder="Type in the menu location ...")
        button(onclick="findMenu()").submit._btnlink|&#128269;
      ._tc_orange._p
        |{{#if error}}
        |{{error.message}}
        |{{/if}}
    #suggestions._p
      ._b._i| Suggestions
      each menu in _examples
        div.item._i
          +a(homeUrl+menu[0])._no_u|#{menu[1]||''} #[u #{menu[0]}]

  +template#header-template
    style.
      #_body {
        border-top-color: {{primary-color.value}};
        border-bottom-color: {{secondary-color.value}};
      }
      #_header { background-color: #EEEEEE }
      ._dark #_header { background-color: #282828 }
      #_header .logo {
        color: {{header-primary-color.value}};
        text-shadow: 4px 4px 0px {{header-secondary-color.value}}, 5px 5px 8px #0006;
      }
    //- style.
    ._header_layout
      .header.row.text-center: .col-md-6.offset-md-3.mb-4._no_overflow
        h1.logo
          span.headerA|{{safe header-a.value}}
          br
          span.headerB|{{safe header-b.value}}
        p._tc_contra|{{safe description.value}}
      ._color_1._pa._text_center(style="margin:0 -1rem")
        p|{{safe about.value}}

  +template#menu-template
    .row
      |{{#each this as |category|}}
      .
        <div class="col-md-6 _mv">
          <div class="category">
            <h3 class="mb-4 mt-2">{{@key}}</h3>
            <ul class="list-unstyled">
              {{#each this as |item|}}
                <li class="item d-flex align-items-center mb-3">
                  <div class="name">{{item.item}}</div>
                  {{#if item.isVegetarian}}
                    <div class="v">V</div>
                  {{/if}}
                  <div class="price ml-auto">&dollar;{{item.price}}</div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      |{{/each}}

  +js('https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js')
  +js('https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js')
  +js(assetsUri+'js/menumakan/main.js')

block prepend style
  +css("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")(integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")

block append style
  +cssv(assetsUri+'css/menumakan/html.css')#_html_style
  +cssv(assetsUri+'css/menumakan/menu.css')#_menu_style
  +css("https://fonts.googleapis.com/css2?family=Pacifico&display=swap")
