//- +nav#_nav: ul: +lia

mixin demoX(ref='')
  +_a(demoUrlX+ref)._nav-item: block

mixin demo(ref='')
  +_a(demoUrl+ref)._nav-item: block

mixin menu
  //- +demoX("blank.html")| Blank
  +demo("view.html")| View
  //- +demoX("layout.html")| Layout
  +demoX("texts.html")| Texts
  +demoX("icons.html")| Icons
  //- +demoX("images.html")| Image
  //- +demoX("background.html")| Background
  //- +demoX("video.html")| Video
  +demoX("colors.html")| Colors
  +demoX("flex.html")| Flex
  +demoX("containers.html")| Containers
  //- +demoX("buttons.html")| Buttons
  //- +demoX("form.html")| Form
  //- +demoX("transitions.html")| Transitions
  //- +demoX("animations.html")| Animations
  +demoX("menu.html")| Menu
  //- +demoX("popups.html")| Popups
  //- +demoX("dialogs.html")| Dialogs
  //- +demoX("helpers.html")| Helpers
  +demoX("theme.html")| Theme

mixin navbar
  #_navbar._flex
    ._f-12-1._pa._nav-color: +a(homeUrl)._btnlink._smaller Home
    ._fill._nav-color(style="min-width:10rem"): +nav#_nav: +menu
    ._f-12-1._text-right._pa._nav-color: +changeThemeLink._nav-item._nav-icon: +isvg(svgi.compare)
