extends _html

block append vars
  - heading = `Blank Page`
  - updateTitle( `${heading} | ${title}` )
  - updateUrl( url+"blank.html" )
  - updateDescription( `Just a blank page to start building.` )

//- block main
  //- +main#_main: article| main article
  +pageData#_pageData._page_layout
