extends _html

block append vars
  - heading = `Icons`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `Visual elements like images, icons, and graphics add depth and interest to your website.` )
  - updateUrl( url+"icons.html" )

block append style
  +cssv(assetsUrl+'pure/grid.css')
  +css('//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css')
  style.
    .gridlines {
      min-height: 100px;
      padding-bottom: 1px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="12"><rect width="1" height="1" fill="%23A9790688" /></svg>');
      background-repeat: repeat;
    }
    .demo .u { margin: 0 2px; padding-bottom: 10px; }

    .io1  { background: #66668844; box-shadow:0 1px orange; }
    .io2  { background: #66886644; box-shadow:0 1px orange; }

  //- style.
    ._itext { margin:2px; outline:1px solid #888; border-radius: .25rem; }

block main
  +main#_main: article

    section._mb-2

      h2._h3._sans Matching size
      p Icon sizes match texts.

      style.
        .mbox,
        .ibox {
          background:#0004;
          box-shadow:0 0 0 1px #440 inset;
          line-height:0;
          display:inline-block;
          padding-right:1em;
          vertical-align:top;
        }
        .mbox {
          font-size:1.5em;
        }
        .mbox i { min-width:1em;text-align:center; }

      ._p
        each t in ['※','⊕','+','≡','«']
          .mbox
            i.itext=t
            i.fas=t
            |H
          +_

      hr

    section._mb-2

      h2._h3._sans SVG Icons

      style.
        ._icons ._isvg { min-width:2.25em; height:2.25em; }

      -
        let svgds = [
          svgi.bars,
          svgi.compare,
          svgi.home,
          svgi.ellipsis,
          svgi.caret,
          svgi.angle,
          svgi.arrow,
          svgi.cross,
          svgi.spin,
          svgi.image,
          svgi.download,
        ]

      ._mv._icons
        each d in svgds
          +isvg(d)

      ._mv
        .ibox
          +isvg(svgi.bars)
          +isvg(svgi.compare)
          |H

      ._mv
        - let i = 0
        while 8 >= i++
          +isvg(svgi.angle)(class="_rotate-"+(-45+i*45))
        +isvg(svgi.cross).__spin
        +isvg(svgi.spin).__spin

      //- https://pictogrammers.com/library/mdi/
      p._text-right._small: +a('https://pictogrammers.com/library/mdi/')(target="pictogrammers")._no-u More icons at Pictogrammers ...

      hr

    section._mb-2

      h2._h3._sans Text Icons

      mixin ichars
        .
          ≡ = ≠ ≈ ~ ∿ 
          ☚ ☛ « » ← → ↑ ↓ ▲ ► ▼ ◄
          ― — ‒ – - + ÷ × ± ∗ *
          ⁞ ‖ |
          ! @ # % &amp; ?
          ∞ π ψ ƒ ∂ µ μ η α ρ ᴥ
          № § £ ¥ € ₩ ฿ $ ￠ ¢ Φ
          · • ◦ ○ ● ∴
          ¤ ☼ ☀ ❊ ⁂ ※ ✰
          ◊ ♦ ♥ ♠ ♣
          ♪ ♫ ⌂ ♀ ♂ ☄
          ✉ ☁ ✈ ☎ ✂ ✎ ☑ ☒
          ⊝ ⊕ ⊗ ⊘ ◍ ✆ ☯ ☢ © ℗

      //- 1.5em : based on the size of ※ sign
      ._p(style="font-size: 1.5em"): i.itext
        +ichars
        |A TXT

      style.
        ._icons ._itext { font-size: 1.5em }

      ._p._icons
        +itext|≡
        +itext|☚
        +itext|☛
        +itext|×
        +itext|←
        +itext|→
        +itext|↑
        +itext|↓
        +itext|«
        +itext|»
        +itext|–
        +itext|+

      hr
    
    //- https://fontawesome.com/v6/search?q=

    section

      h2._h3._sans Font Awesome Icons

      //- 1.5em : based on the size of + sign
      ._p(style="font-size: 1.5em"): i.fas
        +ichars
        |A TXT
      
      style.
        ._icons ._fa { font-size: 1.5em } /* 1.5em = 36px | 1em = 24px */

      ._p._icons
        +fas.fa-bars
        +fas.fa-list
        +fas.fa-house
        +fas.fa-adjust
        +far.fa-circle-user
        +fas.fa-angle-left
        +fas.fa-angles-left
        +fas.fa-arrow-left
        +fas.fa-caret-left
        +fas.fa-rotate-left
        +fas.fa-share.fa-flip-horizontal
        +fas.fa-hand-point-left
        +fas.fa-magnifying-glass
        +far.fa-comment
        +far.fa-message
        +fas.fa-inbox
        +fas.fa-question
        +fas.fa-circle-info
        +fas.fa-location-dot
        +fas.fa-phone
        +far.fa-envelope
        +far.fa-credit-card
        +far.fa-image
        +far.fa-address-card
        +fas.fa-border-all
        +far.fa-square
        +far.fa-square-minus
        +far.fa-square-check._contra
        +far.fa-star
        +fas.fa-star._orange
        +far.fa-heart
        +fas.fa-heart._red
        +far.fa-thumbs-up
        +fas.fa-thumbs-up._blue
        +fas.fa-pen
        +fas.fa-arrow-right-to-bracket.fa-rotate-90
        +fas.fa-download
        +fas.fa-print
        +far.fa-floppy-disk
        +fas.fa-code
        +fas.fa-plus
        +fas.fa-minus
        +fas.fa-minus.fa-rotate-90
        +fas.fa-check._green
        +fas.fa-xmark._red
        +fas.fa-asterisk
        +fas.fa-gear
        +fas.fa-ellipsis
        +fas.fa-ellipsis-vertical
        +fat|a
        +fat|txt
      
      p._text-right._small: +a('https://fontawesome.com/v6/search?q=')(target="fontawesome")._no-u More icons at Font-Awesome ...

      .g.demo.gridlines

        mixin fag(x)
          - var n = 0
          while n < x
            if(n%2==0)
              .io2
                +fas.fa-bars
                |H
            else
              .io1 &nbsp;
            - n++

        .u._text-1: +fag(13)
        .u._text-2: +fag(12)
        .u._text-3: +fag(11)
        .u._text-4: +fag(10)
        .u._text-5: +fag(9)
        .u._text-6: +fag(8)
        .u._text-7: +fag(7)

        .u._hero:   +fag(9)
        .u._hero-1: +fag(8)
        .u._hero-2: +fag(7)

