extends _html

block append vars
  - heading = `Menu`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `This page shows multiple variations of navigation layout you can use.` )
  - updateUrl( url+"menu.html" )

block append style
  style.

    ._main_layout { max-width:none;padding:0; }

  //- style.

mixin navlink(ref='')
  +_a(templateUrl+ref)._nav-item: block

mixin menu(x)
  +nav#_nav
    +menus(x)

mixin menus(x)
  if x == 'templates'
    +navlink('full_screen.html')| Full
    +navlink('split_screen.html')| Split
    +navlink('flex_gallery.html')| Flex
    +navlink('classic_page.html')| Page
    +navlink('classic_list.html')| List
    +navlink("blank.html")| Blank
    +navlink('closed.html')| Closed
    +_a(homeUrl+"404.html")._nav-item| 404
    +_a(homeUrl+"500.html")._nav-item| 500
  else
    +demo("view.html")| View
    //- +demo("layout.html")| Layout
    +demo("flex.html")| Flex
    +demo("colors.html")| Colors
    +demo("texts.html")| Texts
    +demo("icons.html")| Icons
    //- +demo("images.html")| Image
    //- +demo("video.html")| Video
    //- +demo("buttons.html")| Buttons
    //- +demo("background.html")| Background
    +demo("containers.html")| Containers
    //- +demo("form.html")| Form
    //- +demo("transitions.html")| Transitions
    //- +demo("animations.html")| Animations
    +demo("menu.html")| Menu
    //- +demo("popups.html")| Popups
    //- +demo("dialogs.html")| Dialogs
    +demo("theme.html")| Theme
    //- +demo("helpers.html")| Helpers
    +demo("blank.html")| Blank

block main

  +main#_main: article

    section#t1._mb: ._flex: ._fill._nav-color: +nav#_nav
      |You can : &nbsp;
      +a()._btnlink._smaller|Combine
      +_a()._nav-item._nav-icon: +isvg(svgi.compare)
      +_a()._nav-item| All
      +_a()._nav-item| Sorts of
      +_a()._nav-item._nav-icon._b: +middots
      +_a()._nav-item| Menu
      +_a()._nav-item| Items
      +_a()._nav-item._nav-icon: +isvg(svgi.ellipsis)

    mixin sampleMenu_1
      +_a()._nav-item| Blog
      +_a()._nav-item| Articles
      +_a()._nav-item| Gallery
      +_a()._nav-item| Contact

    mixin sampleMenu_2
      +_a()._nav-item| Product
      +_a()._nav-item| Services
      +_a()._nav-item| About us
      +_a()._nav-item| Support

    section#t2._mv: ._flex
      ._f-12-1._pa._nav-color: +a()._btnlink._smaller|Home
      ._fill._nav-color(style="min-width:10rem"): +nav#_nav: +sampleMenu_1
      ._f-12-1._text-right._pa-x5r._nav-color: +_a()()._navChangeThemeLink._nav-item._nav-icon: +isvg(svgi.compare)

    section#t3._mv
      #_navbar._flex
        ._f-12-1._nav-color#_logo-flex: include _logo
        ._fill._nav-color(style="min-width:10rem"): +nav#_nav: +sampleMenu_2
        ._f-12-1._text-right._pa-x5r._nav-color: +_a()._navChangeThemeLink._nav-item._nav-icon: +isvg(svgi.compare)
    
    //- section#t4._mv

      style.
        ._icons ._isvg { min-width:2.25em; height:2.25em; }

      #_navbar._flex
        ._f._icons: +isvg(svgi.bars)
        ._fill(style="min-width:10rem")
          +nav#_nav
            +menus
        ._f._icons
          +isvg(svgi.compare)
          +isvg(svgi.ellipsis)
