extends ../../html/elements/_html

//- ==============================================================
//- variables for every html page
//- ==============================================================
block append vars
  - navbar = true
  - pageLayout = 'flex-to-max'
  - navbarLayout = 'full-width'

block pageHeader
  +simpleHeader
