//- __TLDR : Builder configurations.

- updateTitle( `Ace Builder` )
- updateDescription( `A power-tool for building websites and web applications` )
- updateUrl( builderUrl )
-
  brandName      = 'Ace'
  codeName       = '_ace'
  author         = 'Techie Joe'
