- updateTitle( `Ace Builder` )
- updateDescription( `A nice toolkit to build websites and web applications` )
- updateUrl( "https://techie-joe.github.io/_ace/" )
-
  brandName      = "Ace"
  codeName       = "_ace"
  author         = "Techie Joe"
