//- ==============================================================
//- Ace Template - Core configuration
//- ==============================================================
//- Project specific configurations
//- Defaults can be overriden by pages as necessary.
//- ==============================================================
-
  name           = 'Ace Builder';
  author         = 'Techie Joe';
  publisher      = 'Tidloo Digital';
  copyright      = `Copyright ${thisYear} - ${author}`;

  version        = '0.2.0'; // please update package.json too
  build          = '1.1'; // check README to verify changes

  //- urls
  siteUrl        = 'https://techie-joe.github.io/ace/';
  authorUrl      = 'https://github.com/techie-joe/';
  sourceUrl      = 'https://github.com/techie-joe/ace/';
  builderUrl     = 'https://github.com/techie-joe/_ace/';
  localUrl       = 'http://localhost/ace/';

//- ==============================================================
