//- html style presets
//- : the style before any external css being loaded
style.
  html{font-family:system-ui,sans-serif}
  body{margin:0}
  ._view{overflow-y:scroll;padding:.5rem}
  ._dark hr{border-color:#666}
//- style.

//- +cssv(href,media='all')
+cssv(assetsUri+'css/core_2/html.css')#_core_style