//- ==============================================================
//- variables for every text page
//- ==============================================================
include _vars
block vars

block updatePageData

block document
