style.
  #_logo {
    display:block;
    width: 6.2rem;
    padding:.85rem;
    cursor: pointer;
    transition: background-color 0.5s;
    text-decoration:none !important;
    text-align:center !important;
  }
  a#_logo { color:inherit }

  #_html       a#_logo:hover { background:#bbb; color:#000; transition: none }
  #_html._dark a#_logo:hover { background:#444; color:#fff; }

  #_text_logo   { font-size: 2rem; font-weight: 600; }
  #_text_logo,
  #_text_logo ._part_1,
  #_text_logo ._part_2 { line-height:1; }

//-
  #_tagline { font-size:.7rem; letter-spacing: 0.05em; }

//-

+a(homeUrl)._numb#_logo
    #_text_logo #[span._part_1 LO]#[span._part_2 GO]
    //- #_tagline._uppercase._b Your tagline