-
  let data = {};
  data.checkpoints = [
    {
      task : {
        icon:'up',
        name: 'Ambil (7 pelajar)',
        details: 'Faiha, Fateh, Zahir, Aqiv, Ariff, Izz, Hani',
      },
      location : {
        name: 'Sekolah Rendah Agama Sg Merab',
        details: 'Di depan pintu pagar sekolah.',
        coordinate: '2.93136, 101.75365',
      }
    },
    {
      task : {
        icon:'down',
        name: 'Turunkan (1 pelajar)',
        details: 'Aqiv',
      },
      location : {
        name: 'Jalan Desa Mas',
        details: 'No 22',
        coordinate: '2.93455, 101.74934',
      }
    },
    {
      task : {
        icon:'down',
        name: 'Turunkan (3 pelajar)',
        details: 'Faiha, Fateh, Zahir',
      },
      location : {
        name: 'Tadika Mubah Nur Iman',
        details: 'Di pintu pagar tadika.',
        coordinate: '2.93483, 101.74813',
      }
    },
    {
      task : {
        icon:'down',
        name: 'Turunkan (2 pelajar)',
        details: 'Arif, Izz',
      },
      location : {
        name: 'Jalan 1, Taman Desa Mas',
        details: 'No 14',
        coordinate: '2.93555, 101.74852',
      }
    },
    {
      task : {
        icon:'down',
        name: 'Turunkan (1 pelajar)',
        details: 'Hani',
      },
      location : {
        name: 'Jalan 1, Taman Desa Mas',
        details: '...',
        coordinate: '2.93604, 101.74851',
      }
    },
  ]