extends ../_html

block append pageHeader
  ._pageHeader.mainmenu
    nav._color_1._pa_x5r._radius_x5r
      +a('../')._btnlink._l| Laman utama
      +a('../routes.html')._btnlink._l| Jadual Perjalanan
    hr