extends ../components/_test

block append vars
  - filename = 'index.html'
  - heading  = 'Json'
  - about    = 'Loading json data at runtime.'

  - root = '/ace/json'
  -
    let navlinks = [
      [root,'Reset'],
    ];

block navbar
  +nav#_navbar._color_1._no_print
    div(style="margin: .6rem"): +navmenu(navlinks)

block article
  article._article

    section: +pre#path._small

    hr

    section: ul._small
      -
        let links = [
          [root,'/'],
          [root+'?p=','?p='],
          [root+'?p=localhost/1','?p=localhost/1'],
          [filename+'?p=localhost/2','index.html?p=localhost/2'],
          [root+'/localhost/3','localhost/3'],
          [root+'/localhost/ace/assets/js/menumakan/settings.json','menumakan/settings.json'],
          [root+'/localhost/ace/assets/js/menumakan/menuItems.json','menumakan/menuItems.json'],
        ];
      each v in links
        li: +a._link._l(href=v[0]) #{v[1]}

    hr

    section: +pre#json._small

  //- article
//- block article

block append script
  script.
    (()=>{

      const
        w = window,
        d = document,
        eid = (id)=>document.getElementById(id),
        pathPre = eid('path'),
        urlParams = new URLSearchParams(w.location.search);
      var
        path = urlParams.get('p');

      function renderJson(url){
          const
            jsonPre = eid('json');

          fetchJson(url)
          .then((json)=>{
            jsonPre.innerHTML = JSON.stringify(json);
          })
          .catch(error => {
            console.error("Fetch error:", error.message); // Handle errors here
            jsonPre.innerHTML = '<div class="_i _tc_orange">Missing or invalid data</div>';
          });
      }

      function fetchJson(url) {
        return fetch(url).then((response)=>response.json())
      }

      if(!path){
        path = w.location.pathname.substring('/ace/json/'.length);
      }

      if(path){
        pathPre.innerHTML = path;
        renderJson('http://'+path);
      }
      else {
        pathPre.innerHTML = '<div class="_i _tc_orange">No path requested</div>';
      }

    })();
  //- script.