extends ../_templates/html

block append vars
  include _demo-vars
  include _color-functions
  -
    header      = `Theme`
    title       = `${header} | ${name}`
    description = `Theme for your reference.`
    url         = url+`/theme.html`

    og_title       = title
    og_description = description
    og_url         = url

  //- 

block style
  +css(homeUrl+'assets/css/style.css?v='+version)
  +css(homeUrl+'assets/pure/grid.css?v='+version)
  style.
    ._layout #_header,
    ._layout #_footer,
    ._layout #_main
    { max-width:960px;margin:0 auto }
    #logo {
      width: 6.2rem;
      margin: 0.8rem;
      cursor: pointer;
      transition: background-color 0.5s;
    }
           #logo:hover { background:#ccc; transition: none; }
    ._dark #logo:hover { background:#333 }
    #logos   { font-size: 32px; font-weight: bold; }
    #tagline { font-size:11px; padding-bottom: 0.4rem; letter-spacing: 0.05em; margin-top: -0.6em; }
    #logo ._color { color: ##{cbg} }
    
  //- 

block header
  header#_header
    .g._bg-1
      .u: h1#logo._radius-1r._text-center._numb
        #logos #[span._color LO]#[span._color-1 GO]
        | 
        #tagline._uppercase._b Your tagline
    hr._no-margin

block nav
  //- include _editorbar
  //- include _nav
  //- nav: ul: +la

block pre
  //- aside: pre._pre.
  //-

block main
  style.
    .buttons ._btnlink { margin:.2rem }

  main#_main: article

    .g
      .u-1-3: ._text-justify._mh

        h3._h6._color Lorem ipsum dolor
        p Sit amet, consectetur adipiscing elit. Praesent vehicula, justo vitae bibendum vestibulum, lacus elit luctus dolor, a aliquam massa elit at purus. Mauris vel magna et felis pharetra pretium. Donec bibendum scelerisque metus, in tincidunt eros. Nullam vehicula arcu vitae ligula sollicitudin, sit amet viverra sapien consectetur.

        h3._h6._color-1 Curabitur auctor
        p Nunc nec sem pellentesque, ut facilisis justo dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae ac turpis egestas. Mauris vel magna et felis pharetra pretium. Donec bibendum scelerisque metus, in tincidunt eros.
        
      .u-1-3: ._text-justify._mh

        h3._h6._color-1 Curabitur auctor
        p Nunc nec sem pellentesque, ut facilisis justo dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        
        h3._h6._color Proin scelerisque
        p Lacus at sollicitudin sagittis, nunc eros cursus nulla, a venenatis nulla sapien non velit. Integer condimentum, odio nec tristique malesuada, metus ligula laoreet lorem, ut malesuada lectus sapien in lacus morbi tristique senectus et netus et fames.

        p Praesent vehicula, justo vitae bibendum vestibulum, lacus elit luctus dolor, a aliquam massa elit at purus.

      .u-1-3

        ._m._fg._radius._pad
          h3._h7 Mauris vel magna
          p Et felis pharetra pretium. Donec bibendum scelerisque metus, in tincidunt eros. Nullam vehicula arcu vitae ligula sollicitudin, sit amet viverra sapien consectetur.

        ._m._fg-1._radius._pad
          h3._h7 Mauris vel magna
          p Et felis pharetra pretium. Donec bibendum scelerisque metus, in tincidunt eros. Nullam vehicula arcu vitae ligula sollicitudin, sit amet viverra sapien consectetur.

    .g
      .u-1-2: ._pad
        h3 Button
        .section.buttons: p
          +a._btnlink Primary
          +a._btnlink Secondary
          +a._btnlink Ordinary
          +a._btnlink Disabled

      .u-1-2: ._pad._text-justify
        h3 Texts and Hyperlinks
        .section.links
          p Texts may appear in #[span._blue blue], #[span._purple purple], #[span._orange orange] or #[span._red red].
          p A #[+a("#xxxx") normal hyperlink] and #[+a("") visited link] were colored standard yet you can  #[code._code _remove-color] to #[+a("")._remove-color blend it] with the rest.

    hr._no-margin

block footer
  footer#_footer
    .g
      .u-1-3: ._pad
        h6._h7._no-margin Company Name
        div.
          Street Address,#[br]
          City, State, ZIP,#[br]
          Country, CODE#[br]
          #[br]
          +PHONE 123 4567#[br]
          email@domain.com#[br]
      .u-1-3: ._pad
        h6._h7._no-margin Primary Segment
      .u-1-3: ._pad
        h6._h7._no-margin Secondary Segment
    ._pad !{copyright}

block aside
  //- aside#_aside

block widget
  //- aside#_widget

block append script
