- updateTitle( `ThemeJs` )
- updateDescription( `A web plugin to toggle through multiple themes.` )

- author    = 'Techie Joe'
- authorUrl = 'https://themeforest.net/user/techiejoe'
- copyright = `&copy; Copyright ${thisYear} ${author}`
- version   = '1.0.0'
- build     = '327.23'

- updateUrl(  'https://techie-joe.github.io/themejs/' )

- let themejsUrl = '/ace/themejs/'