- updateTitle( `ThemeJs` )
- updateDescription( `A universal web plugin that toggles through multiple themes.` )

- author    = 'Techie Joe'
- authorUrl = 'https://themeforest.net/user/techiejoe'
- copyright = `&copy; Copyright ${thisYear} ${author}`
- version   = '1.0.0'
- build     = '331.27'

- updateUrl(  'https://themejs.pages.dev/' )