extends ../../html_active/components/_html

//- ==============================================================
//- variables for every html page
//- ==============================================================
block append vars

block pageHeader
  +simpleHeader
