extends _error

block append vars
  - filename = '404.html'
  - heading = 'Not found'
  - about   = 'Sorry, you are looking for something that does not exist.'

  //- Sorry, you are looking for something that does not exist.
  //- Sorry, the thing you are trying to view does not exist.
  //- Sorry, are you looking for something that does not exist?
  //- We can't find what you're looking for.
