extends _error

block append vars
  - filename = '500.html'
  - heading = 'Oops!'
  - about   = 'Sorry, we have encountered an error while processing your request.'

  //- - Sorry, we have encountered an error while processing your request.
  //- - Sorry, an error occured while processing your request.

