extends ../core_2/_error

//- ==============================================================
//- variables for every error page
//- ==============================================================
block append vars
  include _vars
  - layout = 'index_2/_error';

  - heading = 'Oops!'
  - about   = 'Sorry, we are experiencing dificulties.'

block updatePageData
  - updateTitle( `${heading}` )
  - updateDescription( about )
  - updateUrl( siteUrl + filename, og_type )
  - updateImage( og_image, og_imageAlt )

block append style
  style.
    #_body:before { font-size:10px;content:'index_2/error';position:absolute;top:0;left:0;opacity:.3;margin:.3rem .5rem; }