extends ../core_2/_text

block append vars
  //- ============================================================
  //- variables for every page
  //- ============================================================
  - title = 'Ace Builder Website'
  - description = 'A power-tool for building websites and web applications.'

  //- ============================================================

block document
