//- ==============================================================
//- variables for every html page
//- ==============================================================
-

//- ==============================================================
