//- ==============================================================
//- LICENSE for Ace Builder Website
//- ==============================================================
extends _text

block document
  include ../core_2/LICENSE
