extends ../../core_2/_html

block append vars
  include _vars
  - layout = 'easymenu/_html'
  - navbar = false

block topRightNav_content
  +topThemeSwitch
  +topHomeButton(homeUri)

block views
  #_views._views: +view._full_view

    block header
      +header#_header

        block navbar
          if navbar
            +nav#_navbar._no_print
              block navbar_content

        block pageHeader
          +defaultHeader

    block main
      +main#_main
        block article
          article._article
            block pageData
              +pageData#_pageData

    block aside
      +aside#_aside

    block footer
      +footer#_footer

        block pageFooter
          ._pageFooter._defaultFooter
            hr
            p._small._system: +a(homeUri)._link._l &copy; !{copyright}

block script
  //- +jsv(src)

  if INCLUDE_THEMEJS
    +jsv(assetsUri+'js/theme_v1.0.js')(defer)

  if INCLUDE_SERVICE_WORKERS
    +jsv(assetsUri+'js/sw.j')(defer)
