//- ==============================================================
//- Project - Configurations
//- ==============================================================
//- Project specific configurations
//- Defaults can be overriden by pages as necessary.
//- ==============================================================
-
  name           = 'EasyMenu';
  author         = 'EasyMenu.com';
  publisher      = 'Tidloo Digital Inc';
  copyright      = `Copyright ${thisYear} - ${author}`;

  version        = '1.0'; // please update package.json too
  build          = '0.13'; // check README to verify changes

  //- urls
  siteUrl        = 'https://easy-menu.pages.dev/';
  authorUrl      = 'https://github.com/techie-joe/';
  sourceUrl      = '';
  builderUrl     = '';
  localUrl       = 'http://localhost/ace/easymenu/';

  homeUri        = '/ace/easymenu/';
  homeUri        = '/';

//- ==============================================================

- keywords = 'easy menu, online menu, digital menu, restaurant menu, food menu, store menu, barbers menu, shop menu, services menu, QR code menu, contactless menu';

//- sourceUrl      = 'https://github.com/techie-joe/easymenu/';
//- builderUrl     = 'https://github.com/techie-joe/_ace/';

//- - og_image = '/images/og/easymenu.png'
//- - og_url = 'https://easymenu.tidloo.com'
//- - og_title = 'Easy Menu - Instant Online Menu for Your Business'