//- ============================================================
//- variables for some text pages:
//- LICENSE, README
//- ============================================================
- title = 'Easy Menu'
- description = 'Instant Online Menu for Businesses'
- author = 'Techie Joe'

//- 
  Instant Online Menu for Businesses
  
  EasyMenu simplifies menu creation, enabling businesses
  to craft sleek, professional online menus in minutes,
  with no coding or design required.

  Suitable for businesses of all kinds — cafes, bakeries,
  restaurants, shops, service providers, and more.
  Simply configure your preferences, and you're ready to go!

//- 
  Simple Online Menu for Your Business
  
  Set your preferences and we will do the rest.
  Make a business stand out with a sleek, digital menu.
  Create a professional digital menu in minutes.
  Connect more customers to your business, everyday.
  Easy Menu makes it effortless for businesses to showcase their
  offerings online—no design skills needed!

//- 
  Your Digital Menu Made Simple
  
  Effortless online menus for businesses. Quick, easy, and professional.
  Easy Menu makes it effortless for businesses to showcase their
  offerings online. No coding or design skills needed!
