@use "mixins" as *;

/* ------------------------------------------ main helper */

._inline { display: inline }

._indent { text-indent: 2em }

._uppercase { text-transform: uppercase }

._text-left    { text-align: left    }
._text-center  { text-align: center  }
._text-right   { text-align: right   }
._text-justify { text-align: justify }

$margins: (
  "-f1" : .5rem,
  ""    : 1em,
  "-2"  : 2em
);
@each $x, $value in $margins {
  ._m#{$x}  { margin: $value; }
  ._mh#{$x} { @include mh($value); }
  ._mv#{$x} { @include mv($value); }
  ._ml#{$x} { margin-left: $value; }
  ._mr#{$x} { margin-right: $value; }
  ._mt#{$x} { margin-top: $value; }
  ._mb#{$x} { margin-bottom: $value; }
}

$paddings: (
  "-f1" : .5rem,
  ""    : 1em,
  "-2"  : 2em
);
@each $x, $value in $paddings {
  ._pa#{$x} { padding: $value; }
  ._ph#{$x} { @include ph($value); }
  ._pv#{$x} { @include pv($value); }
  ._pl#{$x} { padding-left: $value; }
  ._pr#{$x} { padding-right: $value; }
  ._pt#{$x} { padding-top: $value; }
  ._pb#{$x} { padding-bottom: $value; }
}

._no-margin { margin:0 !important }

._no-pad { padding:0 !important }

._no-wrap { white-space: nowrap !important }

._no-color { color: inherit !important }

._no-u { text-decoration: none !important }

._no-b { font-weight: normal !important }

._no-bullet { list-style-type: none !important }

._hide { display: none !important; }