@use "mixins" as *;
@use "color-values" as *;

// ======================================================= base */

/* mark red if you include ace.css but don't use #_html */
html   { box-shadow: 0 0 0 5px #f00 inset; }
#_html { box-shadow: none } /* remove mark when #_html is in use */

// ----------------------------------------------------- outline */
$outline_color: #f80;
._outline   { box-shadow: 0 0 0 1px $outline_color; }
._outline_1 { box-shadow: 0 0 0 2px $outline_color; }
._outline_2 { box-shadow: 0 0 0 4px $outline_color; }

// ------------------------------------------------- ::selection */
// - must follow this format. - will not work otherwise.
// - each vendor specific must be seperately declared. - cant combine.
// - use background-color not background.
// - dont append or include other class.

$select_color : #FFFF00;
$select_bg    : #FFFF00CC;
$select_tc    : #000;
::selection {
  background-color: $select_bg !important;
  color: $select_tc !important;
  text-shadow: none !important;
}
._select {
  background-color: $select_color;
  color: $select_tc;
  text-shadow: none;
}

// ------------------------------------------------ line-height */

* { line-height: 1.5 }
._lh_0    { line-height: 0 }
._lh_1    { line-height: 1 }
._lh_2    { line-height: 2 }
._lh_1x5  { line-height: 1.5 }

._code,
pre,._pre { line-height: 1.3 }

td { @extend ._lh_1; }

// ------------------------------------------------- paragraphs */

*       { margin: 0; }
p,._p   { margin: 1rem 0; }
hr,._hr { margin: .5rem 0; }
li,._li { margin: 0; } // improve responsive consistency

h1,h2,h3,h4,h5,h6,
._h1,._h2,._h3,._h4,._h5,._h6,._h7,
ul,ol,
li,._li,
pre,._pre { @extend ._p; }

// ------------------------------------------------------ fonts */

pre,._pre {
  @extend ._mono;
  @extend ._small;
}

// --------------------------------------------------- headings */

._h7,._text_1 { font-size: 1.000rem; line-height: 1.5 }
._h6,._text_2 { font-size: 1.083rem; line-height: 1.5 }
._h5,._text_3 { font-size: 1.182rem; line-height: 1.4 }
._h4,._text_4 { font-size: 1.300rem; line-height: 1.3 }
._h3,._text_5 { font-size: 1.445rem; line-height: 1.2 }
._h2,._text_6 { font-size: 1.625rem; line-height: 1.1 }
._h1,._text_7 { font-size: 1.857rem; line-height: 1.0 }

._hero        { font-size: 2.000rem }
._hero_1      { font-size: 2.250rem }
._hero_2      { font-size: 2.572rem }

._small       { font-size: .9em }
._smaller     { font-size: .8em }
._smallest    { font-size: .7em }

._sup,
._sub { font-size: 0.53em; line-height: 0.6em }

._hero_2,
._hero_1,
._hero,
._h7 { @extend ._b; }

._hero_2,
._hero_1,
._hero { @extend ._lh_1; }

// ------------------------------------------------- containers */

#_html,
#_body,
#_contents,
._view,
._full_view {  // all parents of full view must also be full.
  display: block;
  width  : 100%;
  height : 100%;
  margin : 0;
}

#_contents {
  @include position-absolute(0);
  overflow: auto;
}

#_html,
#_body,
#_contents,
._view,
._scrollable {
  scroll-behavior: smooth;
}

._view {
  overflow-x: auto;
  overflow-y: scroll;
}

._scrollable {
  overflow: auto;
}

@media print {
  #_contents,
  ._view {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
  }
  #_contents,
  ._view,
  ._scrollable {
    overflow: visible !important;
  }
  pre {
    padding: 1em !important;
    overflow: visible !important;
  }
}

#_html {
  @extend ._font_1;
  text-size-adjust: 100%;
  font-size: 1em;
}

._main_layout,
._header_layout,
._footer_layout,
._page_layout { margin: -1px auto; padding: 1px 1rem; }
._nav_layout  { margin: 0 auto; padding: 0 1rem; }

._footer_layout { margin-bottom: 1rem } /* make way for browser status bar */

// ------------------------------------------------- components */

hr,._hr {
  display: block;
  border: 0;
  padding: 0;
  height: .05rem;
}

// ?? ace need to check this : _btnlabel ? _label ? ? _btnpad

#_heading .__a { margin: 0 -.3em; line-height: 1; } // ??

// #_html
._btnlink {
  @extend ._numb;
  @extend ._radius_x25r;
  cursor: pointer;
  display: inline-block;
  padding: .3em .6em;
  border: 1px solid $tc_2_9;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  min-width: 2em;
  line-height: 1;
  margin: .05rem 0;
  &:hover { text-decoration: none; }
}

._hover_link {
  padding: 0 .3em;
  border-radius: .3rem;
  text-decoration:none;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
}

#_html ._hover_link {
  color: inherit;
}

._label {
  display: inline-block;
  line-height: 1.7;
  padding: 0 .3em;
  margin: .05rem 0;
  border-radius: .3rem;
  vertical-align: middle;
}

._link {
  @extend ._hover_link;
  @extend ._label;
}

._nav_icon {
  padding: 0;
  min-width: 1.7em;
  min-height: 1.7em;
  text-align: center;
  font-weight: normal;
}

._code {
  @extend ._mono;
  @extend ._tc_2_8;
  font-weight: bold;
  padding: 0 .25em;
  line-height: 1.3;
}

._dark ._code { @extend ._tc_2_3; }

._icon {
  @extend ._numb;
  display: inline-block;
  height   : 1.5em;
  min-width: 1.5em;
  text-align: center;
}

._fa { @extend ._icon; }

.itext {
  @extend ._mono;
  line-height: 1;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-rendering: auto;
}

._itext { @extend ._icon; }
._itext .itext { font-size: 1.5em; line-height: 0.9; } /* offset baseline for *most-icons */

._isvg { @extend ._icon; svg { vertical-align:top; } } /* fix spinning axis */

// ================================================== animation */

@keyframes __spin {
  0%   { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
.__spin { animation: 2s linear infinite __spin }

// ================================================= transition */

._a a {
  &       { transition: color 0.5s, background-color 0.5s; }
  &:hover { transition:none }
}

._a a._hover_scale,
._a ._a_hover_scale a       {
  &       { transition: color 0.5s, background-color 0.5s, scale 0.2s; }
  &:hover { transition: scale 0.3s; scale:1.1; }
}

// ====================================================== theme */

#_html,
#_html       ._color_base { @include color( $tc_2_9, $bg_2_9 ); }
#_html._dark,
#_html._dark ._color_base { @include color( $tc_2_1, $bg_2_1 ); }

h1,h2,h3,h4,h5,h6,
._h1,._h2,._h3,._h4,._h5,._h6,._h7 { @include color( $tc_2_6 ); }

._dark {
h1,h2,h3,h4,h5,h6,
._h1,._h2,._h3,._h4,._h5,._h6,._h7 { @include color( $tc_2_4 ); }
}

._a a {
  &._stay_fresh:visited,
  &         { @include color( $light_link_tci ); }
  &:visited { @include color( $light_link_tcv ); }
  // &._stay_fresh:hover,
  &:hover   { @include color( $light_link_tci ); }
}

._dark._a a {
  &._stay_fresh:visited,
  &         { @include color( $dark_link_tci ); }
  &:visited { @include color( $dark_link_tcv ); }
  // &._stay_fresh:hover,
  &:hover   { @include color( $dark_link_tci ); }
}

._hrt { border-top    : 1px solid $light_shade; }
._hrb { border-bottom : 1px solid $light_shine; }
._dark ._hrt { border-top    : 1px solid $dark_shade; }
._dark ._hrb { border-bottom : 1px solid $dark_shine; }

hr { @extend ._hrt; @extend ._hrb; }

._a ._btnlink {
  &:visited,
  &:active,
  & { color: inherit; }
  &:hover { @include color( $light_button_tc, $light_button_bg ); }
}

._dark._a ._btnlink {
  &:visited,
  &:active,
  & { color: inherit; }
  &:hover {
    @include color( $dark_button_tc, $dark_button_bg );
  }
}

._btnlabel {
  display: inline-block;
  vertical-align: top;
}

._btnpad { padding: 0 .5em; }

#_html       ._hover_link:hover { @include color( $light_contra, $light_button_bg ); }
#_html._dark ._hover_link:hover { @include color( $dark_contra, $dark_button_bg); }

/* ======================================================= flex */

// @media (min-width: 20rem){/*    ≥ 320px   Mobile S   ._f_ms_* */}
// @media (min-width: 23.4rem){/*  ≥ 375px   Mobile M   ._f_mm_* */}
// @media (min-width: 26.6rem){/*  ≥ 425px   Mobile L   ._f_ml_* */}
// @media (min-width: 35.5rem){/*  ≥ 568px              ._f_s_*  */}
// @media (min-width: 48rem){/*    ≥ 768px    Laptop S  ._f_m_*  */}
// @media (min-width: 60rem){/*    ≥ 960px    960gs     ._f_r_*  */}
// @media (min-width: 64rem){/*    ≥ 1024px   Laptop M  ._f_l_*  */}
// @media (min-width: 80rem){/*    ≥ 1280px             ._f_2l_* */}
// @media (min-width: 90rem){/*    ≥ 1440px   Laptop L  ._f_3l_* */}
// @media (min-width: 120rem){/*   ≥ 1920px             ._f_4l_* */}
// @media (min-width: 160rem){/*   ≥ 2560px   4K        ._f_4k_* */}
// @media (min-width: 240rem){/*   ≥ 3840px             ._f_5k_* */}

// ?? ace need to test this

$f_min: 4rem;
$f_base: 12;

._flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 auto;
  min-width: $f_min;
}

._space-evenly { justify-content: space-evenly }

// ._gaps
$gaps: (
  "_x5" : .5rem,
  ""     : 1rem,
  "_1x5" : 1.5rem,
  "_2"   : 2rem
);
@each $x, $value in $gaps {
  ._gap#{$x},
  ._gap_h#{$x} { column-gap: $value; }
  ._gap_v#{$x} { row-gap: $value; }
  ._gap_a#{$x}   { gap: $value; }
}

._f {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  line-height: 0;
  margin: 0 auto;
}

// 1,3,5,7
// 2,4,6,8
// 10,12,14,16

$gs: 12,10;
@each $g in $gs {
  @for $i from 1 through $g - 1 {
    $width: calc($i / $g);
    @if ( $g == 10 and $i == 5 ){ ._f_#{$g}_#{$i} { @extend ._f_12_6; } }
    @else {
      ._f_#{$g}_#{$i} {
        flex: $i 1 calc($i * 30 / $g * 1rem);
      }
    }
  }
}

// $g:8;
// ._f_#{$g}   { @extend ._fill; }
// ._f_#{$g}_2 { @extend ._f_12_3; }
// ._f_#{$g}_4 { @extend ._f_12_6; }
// @for $i from 1 through $g {
//   @if( $i != $g and $i != 4 and $i != 2 ){
//     ._f_#{$g}_#{$i} { @extend ._fill; width: calc(100% / $g * $i) }
//   }
// }

$gs: 6,5;
@each $g in $gs { @for $i from 1 through $g - 1 { ._f_#{$g}_#{$i} { @extend ._f_#{$g * 2}_#{$i * 2}; } } }

$g: 4;
._f_#{$g}_1 { @extend ._f_12_3; }
._f_#{$g}_2 { @extend ._f_12_6; }
._f_#{$g}_3 { @extend ._f_12_9; }

$g:3;
._f_#{$g}_1 { @extend ._f_12_4; }
._f_#{$g}_2 { @extend ._f_12_8; }

$g:2;
._f_#{$g}_1 { @extend ._f_12_6; }

._fill  { @extend ._f; flex: $f_base 1 $f_min; }
._full  { @extend ._f; flex: $f_base 1 100%; }
._f_fit { @extend ._f; flex: 1 1 fit-content; }
._f_max { @extend ._f; flex: $f_base 1 max-content; }
._f_min { @extend ._f; flex: 1 1 min-content; }
._f_content { @extend ._f; flex: 1 1 content; }

/* ============================================== color helpers */

._bg_1_1 { background-color: $bg_1_1 }
._bg_1_2 { background-color: $bg_1_2 }
._bg_1_3 { background-color: $bg_1_3 }
._bg_1_4 { background-color: $bg_1_4 }
._bg_1_5 { background-color: $bg_1_5 }
._bg_1_6 { background-color: $bg_1_6 }

._tc_1_1 { color: $tc_1_1 }
._tc_1_2 { color: $tc_1_2 }
._tc_1_3 { color: $tc_1_3 }
._tc_1_4 { color: $tc_1_4 }
._tc_1_5 { color: $tc_1_5 }
._tc_1_6 { color: $tc_1_6 }

._bc_1_1 { border-color: $bg_1_1 }
._bc_1_2 { border-color: $bg_1_2 }
._bc_1_3 { border-color: $bg_1_3 }
._bc_1_4 { border-color: $bg_1_4 }
._bc_1_5 { border-color: $bg_1_5 }
._bc_1_6 { border-color: $bg_1_6 }

._bg_2_1 { background-color: $bg_2_1 }
._bg_2_2 { background-color: $bg_2_2 }
._bg_2_3 { background-color: $bg_2_3 }
._bg_2_4 { background-color: $bg_2_4 }
._bg_2_5 { background-color: $bg_2_5 }
._bg_2_6 { background-color: $bg_2_6 }
._bg_2_7 { background-color: $bg_2_7 }
._bg_2_8 { background-color: $bg_2_8 }
._bg_2_9 { background-color: $bg_2_9 }

._tc_2_1 { color: $tc_2_1 }
._tc_2_2 { color: $tc_2_2 }
._tc_2_3 { color: $tc_2_3 }
._tc_2_4 { color: $tc_2_4 }
._tc_2_5 { color: $tc_2_5 }
._tc_2_6 { color: $tc_2_6 }
._tc_2_7 { color: $tc_2_7 }
._tc_2_8 { color: $tc_2_8 }
._tc_2_9 { color: $tc_2_9 }

._bc_2_1 { border-color: $bg_2_1 }
._bc_2_2 { border-color: $bg_2_2 }
._bc_2_3 { border-color: $bg_2_3 }
._bc_2_4 { border-color: $bg_2_4 }
._bc_2_5 { border-color: $bg_2_5 }
._bc_2_6 { border-color: $bg_2_6 }
._bc_2_7 { border-color: $bg_2_7 }
._bc_2_8 { border-color: $bg_2_8 }
._bc_2_9 { border-color: $bg_2_9 }

._tc_blue   { color: $light_blue   }
._tc_purple { color: $light_purple }
._tc_orange { color: $light_orange }
._tc_red    { color: $light_red    }
._tc_green  { color: $light_green  }
._tc_contra { color: $light_contra }

._dark {

  ._tc_blue   { color: $dark_blue   }
  ._tc_purple { color: $dark_purple }
  ._tc_orange { color: $dark_orange }
  ._tc_red    { color: $dark_red    }
  ._tc_green  { color: $dark_green  }
  ._tc_contra { color: $dark_contra }

}

/* ==================================================== helpers */

._font_0,._system  { font-family: system-ui, sans-serif; }
._font_1,._sans    { font-family: "Arial", sans-serif; }
._font_2,._serif   { font-family: "Georgia", serif; }
._font_3,._mono    { font-family: "Consolas", monospace; }

._b   { font-weight: bold }
@for $i from 1 through 9 { ._b-#{$i} { font-weight: $i * 100; } }

._i { font-style: italic }

._u { text-decoration: underline }

._numb { user-select:none }

._block   { display: block }
._inline  { display: inline }
._inblock { display: inline-block }

._relative { @include position-relative() }
._absolute { @include position-absolute(0,0) }
._fixed    { @include position-fixed(0,0) }

._indent { text-indent: 2em }

._uppercase { text-transform: uppercase }

._text_left    { text-align: left    }
._text_center  { text-align: center  }
._text_right   { text-align: right   }
._text_justify { text-align: justify }

// ._radius
$radiuses: (
  "_x25r" : .25rem,
  "_x5r"  : .5rem,
  ""      : 1em
);
@each $x, $value in $radiuses { ._radius#{$x}  { border-radius: $value; } }

// ._margins
$margins: (
  "_x5r" : .5rem,
  ""     : 1em,
  "_2"   : 2em
);
@each $x, $value in $margins {
  ._ma#{$x}  { margin: $value; }
  ._mh#{$x} { @include mh($value); }
  ._mv#{$x} { @include mv($value); }
  ._ml#{$x} { margin-left: $value; }
  ._mr#{$x} { margin-right: $value; }
  ._mt#{$x} { margin-top: $value; }
  ._mb#{$x} { margin-bottom: $value; }
}

._m0,
._no_margin { margin:0 !important }
._mt0 { margin-top: 0 !important }
._mb0 { margin-bottom: 0 !important }

// ._paddings
$paddings: (
  "_x5r" : .5rem,
  ""     : 1em,
  "_2"   : 2em
);
@each $x, $value in $paddings {
  ._pa#{$x} { padding: $value; }
  ._ph#{$x} { @include ph($value); }
  ._pv#{$x} { @include pv($value); }
  ._pl#{$x} { padding-left: $value; }
  ._pr#{$x} { padding-right: $value; }
  ._pt#{$x} { padding-top: $value; }
  ._pb#{$x} { padding-bottom: $value; }
}

._p0,
._no_pad { padding:0 !important }
._pt0 { padding-top: 0 !important }
._pb0 { padding-bottom: 0 !important }

._no_spad { padding-inline-start: 1em !important }

// ._rotate
$angles : 45, 90, 135, 180, 225, 270, 315;
@each $angle in $angles { ._rotate-#{$angle} { transform: rotate(#{$angle}deg); } }

._no_scroll,._no_scroll_x { overflow-x: hidden !important; }
._no_scroll,._no_scroll_y { overflow-y: hidden !important; }

._no_wrap { white-space: nowrap !important }

._no_color { color: inherit !important }

._no_u { text-decoration: none !important }

._no_b { font-weight: normal !important }

._no_bullet { list-style-type: none !important; }
._no_bullet_pad { padding-inline-start: 0 !important; }

/* ============================================== print helpers */

@media print {
  *::before{ content: none !important; }
  ._no_print { display: none !important; }
  ._btnlink,
  ._no_print_href a,
  ._no_print_href { &[href]::after { content: none !important; } }
  ._no_print_bg { background: none !important; }
}
