extends ../../core_2/_html

block append vars
  - filename = 'test_2.html'
  - heading  = 'Body test'
  - about    = 'Testing html document body.'

block append style
  style.
    .o1 { box-shadow: 0 0 0 5px #ff880088 inset; }
    .o2 { box-shadow: 0 0 0 5px #88008888 inset;background-color:#8883 }
    #contents { width:50%;height:150vh }
    .top { position:absolute;top:0 }
    .bottom { position:absolute;bottom:0 }
  //- style.

block views
  #_views._views.o1
    +view._full_view

      #contents._relative.o2
        .top // top contents
        .bottom // bottom contents


//- block article

  article

    section._small._i // test goes here ..

  //- article

//- block article

//- block footer