extends _error

block append vars
  - heading = `Not found`
  - updateTitle( `${heading}` )
  - updateDescription( `Sorry, you are looking for something that does not exist.` )
  //- - updateDescription( `Sorry, the thing you are trying to view does not exist.` )
  //- - updateDescription( `Sorry, are you looking for something that does not exist?` )
  //- - updateDescription( `We can't find what you're looking for.` )
  - updateUrl()

//- block header
  +pageData._mh._text_left

block main
  +main#_main
    h1#_h1 !{heading}
    p#_p !{description}
    nav#_nav: +backlink._btnlink #[span._btnlabel Back]
