- updateTitle( `Basic Template` )
- updateDescription( `A versatile template with a clean layout.` )
- updateUrl( siteUrl+'basic/' )
- author    = 'Techie Joe'
- authorUrl = 'https://themeforest.net/user/techiejoe'
- copyright = `&copy; Copyright ${thisYear} ${author}`
- version   = '1.0.0'