- updateTitle( `Basic Template` )
- updateDescription( `A versatile template with a clean layout.` )
- updateUrl( siteUrl+'basic/' )
- author  = 'Techie Joe'
- authorUrl = 'https://themeforest.net/user/techiejoe'
- version = '1.0.0'
- copyright = `&copy; Copyright ${thisYear} ${author}`