//- ==============================================================
//- CHANGELOGS for Basic Template
//- ==============================================================
extends _text

block main
  include CHANGELOGS.md