extends _error

block append vars
  - heading = `Temporary closed`
  - updateTitle( `${heading}` )
  - updateDescription( `Sorry, we are currently unavailable. Please come again later.` )
  - updateUrl()

//- block header
  +pageData._mh._text_left

block main
  +main#_main
    h1#_h1 !{heading}
    p#_p !{description}
    nav#_nav: +backlink._btnlink #[span._btnlabel Back]
