//- ==============================================================
//- variables for every html page
//- ==============================================================
-
  siteUrl += 'components/';

//- ==============================================================
