extends ../../core/_error

block append vars
  - heading = `Oops!`
  - about   = `Sorry, we are experiencing dificulties.`;
  - updateTitle( `${heading}` )
  - updateDescription( `${about}` )
  include _vars