extends _error

block append vars
  - heading = `Error page`
  - about   = `Ready made templates when you are experiencing dificulties.`;
  - updateTitle( `${heading}` )
  - updateDescription( `${about}` )
