extends _test

block append vars
  - filename = 'test.html'
  - heading  = 'Test page'
  - about    = 'Try new things from time to time.'

block main

  +main#_main: article

    section._small._i // test goes here ..

  //- main

//- block main

block footer