//- +nav#_nav: ul: +la

mixin link(ref='')
  +_a(ref): block

+nav#_nav.pages
  +link(homeUrl)| Home
  +link('full_screen.html')| Full
  +link('split_screen.html')| Split
  +link('full_flex.html')| Flex
  +link('classic_page.html')| Page
  +link('classic_list.html')| List
  +link("blank.html")| Blank
  +link('closed.html')| Closed
  +_a(homeUrl+"404.html")| 404
  +_a(homeUrl+"500.html")| 500