//- +nav#_nav: ul: +lia

mixin example_link(ref='')
  +_a(ref)._nav_item: block

mixin menu
  +example_link('./')| Home
  //- +example_link('full_screen.html')| Full
  //- +example_link('split_screen.html')| Split
  //- +example_link('full_flex.html')| Flex
  //- +example_link('classic_page.html')| Page
  //- +example_link('classic_list.html')| List
  +example_link("blank.html")| Blank
  +example_link(homeUrl)| Ace

mixin navbar
  #_navbar._flex
    ._nav_color#_logo-flex: include _logo
    ._fill._nav_color(style="min-width:10rem"): +nav#_nav: +menu
    ._f_12_1._text_right._pa_x5r._nav_color: +changeThemeLink._navChangeThemeLink._nav_item._nav_icon: +isvg(svgi.compare)
