extends _html

block append vars
  - heading = `Welcome`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `An example of a new website.` )
  - updateUrl( url+"index.html" )

block append style
  //- style.

block main
  +main#_main: article
    +pre: +putData
    hr
    p: +a(homeUrl)._btnlink._smaller Back
  
