//- +nav#_nav: ul: +lia

mixin menu_link(ref='')
  +_a(demoUrl+ref)._link: block

mixin menu(n)
  -
    temp = [
      ['view.html','View'],
      ['flex.html','Flex'],
      //- ['layout.html','Layout'],
      ['texts.html','Texts'],
      ['icons.html','Icons'],
      //- ['images.html','Image'],
      //- ['background.html','Background'],
      //- ['video.html','Video'],
      ['colors.html','Colors'],
      //- ['containers.html','Containers'],
      //- ['buttons.html','Buttons'],
      //- ['form.html','Form'],
      //- ['transitions.html','Transitions'],
      //- ['animations.html','Animations'],
      ['menu.html','Menu'],
      //- ['popups.html','Popups'],
      //- ['dialogs.html','Dialogs'],
      //- ['helpers.html','Helpers'],
      ['theme.html','Theme'],
      ['starter.html','Starter'],
    ];
  each v in temp
    +menu_link(v[0])=`${v[1]}`

mixin navbar
  #_navbar._flex
    ._f_min._pa._nav_color._text_center: +a(homeUrl)._btnlink|Home
    ._fill._nav_color(style="flex-basis:20rem"): +nav#_nav._no_print_href: +menu
    ._f_min._pa_x5r._nav_color._text_right._no_print: +changeThemeLink._navChangeThemeLink._link._nav_icon: +isvg(svgi.compare)
