//- +nav#_nav: ul: +lia

mixin demo_link(ref='')
  +_a(demoUrl+ref)._nav-item: block

mixin menu
  +demo_link("view.html")| View
  //- +demo_link("layout.html")| Layout
  +demo_link("texts.html")| Texts
  +demo_link("icons.html")| Icons
  //- +demo_link("images.html")| Image
  //- +demo_link("background.html")| Background
  //- +demo_link("video.html")| Video
  +demo_link("flex.html")| Flex
  +demo_link("containers.html")| Containers
  +demo_link("colors.html")| Colors
  //- +demo_link("buttons.html")| Buttons
  //- +demo_link("form.html")| Form
  //- +demo_link("transitions.html")| Transitions
  //- +demo_link("animations.html")| Animations
  +demo_link("menu.html")| Menu
  //- +demo_link("popups.html")| Popups
  //- +demo_link("dialogs.html")| Dialogs
  //- +demo_link("helpers.html")| Helpers
  +demo_link("theme.html")| Theme
  +demo_link("blank.html")| Blank

mixin navbar
  #_navbar._flex
    ._f-12-1._pa._nav-color._text-center(style="flex-basis:5rem"): +a(homeUrl)._btnlink._smaller|Home
    ._fill._nav-color(style="flex-basis:20rem"): +nav#_nav: +menu
    ._f-12-1._text-right._pa-x5r._nav-color: +changeThemeLink._navChangeThemeLink._nav-item._nav-icon: +isvg(svgi.compare)
