//- +nav#_nav: ul: +la

mixin demo(ref='')
  +_a(demoUrl+ref): block

+nav#_nav.pages
  +demo("views.html")| Views
  +demo("layout.html")| Layout
  +demo("grid.html")| Grid
  +demo("colors.html")| Colors
  +demo("containers.html")| Containers
  +demo("texts.html")| Texts
  +demo("images.html")| Image
  +demo("video.html")| Video
  +demo("buttons.html")| Buttons
  +demo("background.html")| Background
  +demo("form.html")| Form
  +demo("transitions.html")| Transitions
  +demo("animations.html")| Animations
  +demo("menu.html")| Menu
  +demo("popups.html")| Popups
  +demo("dialogs.html")| Dialogs
  +demo("theme.html")| Theme
  +demo("helpers.html")| Helpers
  +demo("blank_demo.html")| Blank
