//- +nav#_nav: ul: +lia

mixin demo_link(ref='')
  +_a(demoUrl+ref)._link._nav_item: block

mixin menu
  +demo_link("starter.html")| Starter
  +demo_link("view.html")| View
  //- +demo_link("layout.html")| Layout
  +demo_link("texts.html")| Texts
  +demo_link("icons.html")| Icons
  //- +demo_link("images.html")| Image
  //- +demo_link("background.html")| Background
  //- +demo_link("video.html")| Video
  +demo_link("flex.html")| Flex
  //- +demo_link("containers.html")| Containers
  +demo_link("colors.html")| Colors
  //- +demo_link("buttons.html")| Buttons
  //- +demo_link("form.html")| Form
  //- +demo_link("transitions.html")| Transitions
  //- +demo_link("animations.html")| Animations
  +demo_link("menu.html")| Menu
  //- +demo_link("popups.html")| Popups
  //- +demo_link("dialogs.html")| Dialogs
  //- +demo_link("helpers.html")| Helpers
  +demo_link("theme.html")| Theme

mixin navbar
  #_navbar._flex
    ._f_min._pa._nav_color._text_center: +a(homeUrl)(style="width:80%;")._btnlink._smaller|Home
    ._fill._nav_color(style="flex-basis:20rem"): +nav#_nav._no_print_href: +menu
    ._f_min._text_right._pa_x5r._nav_color._no_print: +changeThemeLink._navChangeThemeLink._link._nav_icon: +isvg(svgi.compare)
