//- +nav#_nav: ul: +la

mixin demo(ref='')
  +_a(demoUrl+ref)._nav-item: block

mixin menus
  +demo("view.html")| View
  //- +demo("layout.html")| Layout
  +demo("flex.html")| Flex
  +demo("colors.html")| Colors
  +demo("texts.html")| Texts
  +demo("icons.html")| Icons
  //- +demo("images.html")| Image
  //- +demo("video.html")| Video
  //- +demo("buttons.html")| Buttons
  //- +demo("background.html")| Background
  +demo("containers.html")| Containers
  //- +demo("form.html")| Form
  //- +demo("transitions.html")| Transitions
  //- +demo("animations.html")| Animations
  +demo("menu.html")| Menu
  //- +demo("popups.html")| Popups
  //- +demo("dialogs.html")| Dialogs
  +demo("theme.html")| Theme
  //- +demo("helpers.html")| Helpers
  //- +demo("blank.html")| Blank

mixin menu
  +nav#_nav: +menus

mixin navbar
  #_navbar._flex
    ._f-12-1._pa._nav-color: +a(homeUrl)._btnlink._small Home
    ._fill(style="min-width:10rem"): +menu
    ._f-12-1._text-right._pa._nav-color: +changeThemeLink._nav-item._nav-icon: +isvg(svgd.compare)
