extends ../../_templates/html

block append style
  +css(homeUrl+'assets/css/demo.css?v='+version)
  +css(homeUrl+'assets/css/grid.css?v='+version)
  //- style.
  //- 

block view
  +view

    block nav
      //- nav#_nav: ._nav_layout: ul: +la
      ._pad.bg-1-2.tc-1-2: ._grid
        ._10-1: +a(demoUrl)._btnlink._small ✨ Demo
        ._10-9: include _nav-demo

    block header
      //- header#_header: ._header_layout
      header#_header: ._header_layout
        h1 !{header}
        p !{description}
        hr

    block pre
      //- aside#_pre: ._pre_layout: pre._pre

    block main
      //- +main#_main: article| main article
      +main#_main: article| main article

    block footer
      footer#_footer: ._footer_layout
        p: hr
        p._text-centerx !{copyright}
    
    block aside
      //- aside#_aside: ._aside_layout
