extends ../../_templates/html

block append style
  +css(homeUrl+'assets/css/flex.css?v='+version)
  +css(homeUrl+'assets/css/demo.css?v='+version)
  //- style.
  //- 

block view
  +view

    block nav
      //- +nav#_nav: ul: +la
      #_navbar._flex
        ._f-12-1._text-center._pad._nav-color: +a(homeUrl)._btnlink._small Home
        ._fill(style="min-width:10rem"): include _nav
        ._f-12-1._text-right._pad._nav-color: +_a()(onclick="base.theme.change()")._nav-item._nav-icon: +isvg(svgs[1])

    block header
      //- +header#_header
      +header#_header
        h1._h1 !{header}
        p !{description}
        hr

    block pre
      //- +pre#_pre

    block main
      //- +main#_main: article| main article
      +main#_main: article| main article

    block footer
      //- +footer#_footer
      +footer#_footer
        hr
        p._text-centerx !{copyright}
    
    block aside
      //- +aside#_aside
