include ../../pugs/_svgis
include ../../pugs/_cssis

-
  brandName      = "Ace"
  codeName       = "ace"
  author         = "Techie Joe"

- updateTitle( `Ace Template` )
- updateUrl( "https://techie-joe.github.io/ace/demo/" )
