extends _template

block append vars
  include _vars
  -
    header      = `Buttons`
    url         = url+`buttons.html`
    title       = `${header} | ${name}`
    description = `Button sizes and spacing match text size for optimum adaptability.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.
    .gridlines {
      min-height: 100px;
      padding-bottom: 1px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1" height="12"><rect width="1" height="1" fill="%23A9790688" /></svg>');
      background-repeat: repeat;
    }
    .demo .u { margin: 0 2px; padding-bottom: 10px; }

    .io1  { background: #66668844; box-shadow:0 1px orange; }
    .io2  { background: #66886644; box-shadow:0 1px orange; }

  //- 
    ._fit { margin:2px; outline:1px solid #888; border-radius: .25rem; }


block main
  +main#_main: article

