extends _html

block append vars
  - heading = `Containers`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `${heading} group contents together.` )
  - updateUrl( siteUrl+"containers.html" )

block append style
  style.

    #_footer,
    #_header,
    #_main { max-width:none }
    #_main { padding:0 }

    .c .o { box-shadow: 0 0 0 1px #f803 inset; }

    .o { height:5rem; }

    .border { border:1px solid #f803 }

  //- style.

block main
  +main#_main: article.layout

    section._flex(style="gap:1em")
      ._fill: .o
      ._fill: .o.border
      ._fill: .o(style="margin:1em").border
      ._fill: .o(style="padding:1em").border
      ._fill: .o(style="margin:1em;padding:1em").border