extends _template

block append vars
  include _vars
  -
    title       = `${name} Demo`
    header      = `${name} ≡ Demo`
    description = `Showing all features and components of our template.`

    og_title       = title
    og_description = description

block nav

block main
  +main#_main: article.layout

    section._mb-2: ._flex
      ._f._pad: +a(homeUrl)._btnlink._small Home
      ._fill: include _nav

    ._small| Live @ #[+a(url)(target="techie-joes-github") #{url}]
    
