extends _template

block append vars
  include _vars
  -
    title       = `${name} Demo`
    header      = `≡ ${name} ≡ Demo`
    description = `Showing all features and components of our template.`

    og_title       = title
    og_description = description

block nav

block main
  +main#_main: article.layout

    ._grid
      ._10-1: +a(homeUrl)._btnlink._small 🏠 Home
      ._10-9: include _nav
