extends _html

block append vars
  - heading = `Ace Template Demo`
  - updateTitle( `${heading}` )
  - updateDescription( `Lets explore the structure and features of our template.` )

block main
  +main#_main: article
    ._mv._nav_color._radius_x5r._pa
      b._label._system| Template Components : &nbsp;
      +menu

    hr

    ._mv._nav_color._radius_x5r._pa
      b._label._system| Extras : &nbsp;
      -
        temp = [
          ['starter.html','Starter'],
          ['theme.html','Theme'],
        ];
      each v in temp
        +menu_link(v[0])=`${v[1]}`
      +_a("test_css.html","Test CSS")._link| CSS
      +_a("test_acejs.html","Test AceJs")._link| AceJs
