extends _template

block append vars
  include _vars-demo
  -
    title       = `${name} Demo`
    header      = `${name} Demo`
    description = `This is a comprehensive demo of all features and components of our web builder.`

    og_title       = title
    og_description = description

block nav

block main
  main#_main: article.layout

    include _nav-demo

    nav._mv._small
      +a(homeUrl)._btnlink| 👈 Back
