extends _html

block append vars
  - heading = `Ace Template Demo`
  - about   = `Lets explore the structure and features of our template.`
  - updateTitle( `${heading} | ${about}` )
  - updateDescription( `${about}` )

block main
  +main#_main: article

    ._mv._nav_color._radius_x5r._pa
      b._label._system| Components : &nbsp;
      +menu

    ._mv._nav_color._radius_x5r._pa
      b._label._system| Core : &nbsp;
      +menu_link('blank.html')| Blank
      +_a("test_css.html","Test CSS")._link| CSS
      +_a("test_ace_thm.html","Test AceJs")._link| AceJs

    ._mv._nav_color._radius_x5r._pa
      b._label._system| Extras : &nbsp;
      -
        temp = [
          ['starter.html','Starter'],
          ['theme.html','Theme'],
          ['menu.html','Menu'],
        ];
      each v in temp
        +menu_link(v[0])=`${v[1]}`
