extends _html

block append vars
  - heading = `Ace Template Demo`
  - about   = `Lets explore the structure and features of our template.`
  - updateTitle( `${heading} | ${about}` )
  - updateDescription( `${about}` )

block main
  +main#_main: article

    ._mv._nav_color._radius_x5r._pa
      b._system| Components : &nbsp;
      +menu

    ._mv._nav_color._radius_x5r._pa
      b._system| Extras : &nbsp;
      -
        temp = [
          ['blank.html','Blank'],
          ['starter.html','Starter'],
          ['theme.html','Theme'],
          ['menu.html','Menu'],
        ];
      each v in temp
        +menu_link(v[0])=`${v[1]}`

    ._mv._nav_color._radius_x5r._pa
      b._system| Plugins : &nbsp;
      +_a(homeUrl+'themejs/')(target="ace_themejs")._link| ThemeJs
