extends _template

block append vars
  include _vars
  -
    title       = `${name} Demo`
    header      = `${name} ≡ Demo`
    description = `Showing all features and components of our template.`

    og_title       = title
    og_description = description

block nav

block main
  +main#_main: article.layout

    ._flex
      ._g._pad: +a(homeUrl)._btnlink._small 🏠 Home
      ._flex-1: include _nav

    p._small| Live @ #[+a(url)(target="techie-joes-github") #{url}]
    
