extends _template

block append vars
  include _vars
  -
    title          = `Ace Template Demo`
    description    = `These articles demonstrate features and capabilities of our template and it's components.`

    og_title       = title
    og_description = description
    og_url         = url+"?utm_source=homescreen"

    let header     = title

block nav

block main
  +main#_main: article.layout

    section._mb-2: ._flex._nav-color
      ._f._pa: +a(homeUrl)._btnlink._small Home
      ._fill
        include _nav
        +menu

    ._small| Live @ #[+a(url)(target="techie-joes-github") #{url}]
    
