extends _html

block append vars
  - heading = `Ace Template Demo`
  - updateTitle( `Demo | ${title}` )
  - updateDescription( `Lets explore the structure and features of our template.` )
  - updateUrl( url )

block main
  +main#_main: article
    ._mv._nav_color._radius_x5r._pa
      b._label._system| Template Components : &nbsp;
      +menu

    ._mv._nav_color._radius_x5r._pa
      b._label._system| Extras : &nbsp;
      -
        temp = [
          ['starter.html','Starter'],
          ['theme.html','Theme'],
        ];
      each v in temp
        +menu_link(v[0])=`${v[1]}`
