extends _html

block append vars
  - heading = `Menu`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `This page shows multiple variations of navigation layout you can use.` )
  - updateUrl( url+"menu.html" )

block append style
  style.

    ._main_layout { max-width:none;padding:0; }

  //- style.

block main

  +main#_main: article

    section#t1._mb: ._flex: ._fill._nav-color: +nav#_nav
      |You can : &nbsp;
      +a()._btnlink._small|Combine
      +_a()._nav_item._nav-icon: +isvg(svgi.compare)
      +_a()._nav_item| All
      +_a()._nav_item| Sorts of
      +_a()._nav_item._nav-icon._b: +middots
      +_a()._nav_item| Menu
      +_a()._nav_item| Items
      +_a()._nav_item._nav-icon: +isvg(svgi.ellipsis)

    mixin sampleMenu_1
      +_a()._nav_item| Blog
      +_a()._nav_item| Articles
      +_a()._nav_item| Gallery
      +_a()._nav_item| Contact

    mixin sampleMenu_2
      +_a()._nav_item| Product
      +_a()._nav_item| Services
      +_a()._nav_item| About us
      +_a()._nav_item| Support

    section#t2._mv: ._flex
      ._f_12_1._pa._nav-color._text_center(style="flex-basis:5rem"): +a()._btnlink._small|Home
      ._fill._nav-color(style="flex-basis:20rem"): +nav#_nav: +sampleMenu_1
      ._f_12_1._text_right._pa-x5r._nav-color: +_a()()._navChangeThemeLink._nav_item._nav-icon: +isvg(svgi.compare)

    section#t3._mv
      #_navbar._flex
        ._f_12_1._nav-color._text_center(style="flex-basis:8rem"): include _logo
        ._fill._nav-color(style="flex-basis:20rem"): +nav#_nav: +sampleMenu_2
        ._f_12_1._text_right._pa-x5r._nav-color: +_a()._navChangeThemeLink._nav_item._nav-icon: +isvg(svgi.compare)
    
    //- section#t4._mv

      style.
        ._icons ._isvg { min-width:2.25em; height:2.25em; }

      #_navbar._flex
        ._f._icons: +isvg(svgi.bars)
        ._fill(style="min-width:10rem")
          +nav#_nav
            +menus
        ._f._icons
          +isvg(svgi.compare)
          +isvg(svgi.ellipsis)
