extends _template

block append vars
  include _vars
  -
    header         = `Menu`
    file           = `menu`
    url            = url+`${file}.html`
    title          = `${header} | ${name}`
    description    = `This is about navigation ${file}.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.
    ._main_layout { max-width:none;padding:0 }
  //- 

block main

  +main#_main: article

    section._flex: ._fill: include _nav

block footer
