extends _template

block append vars
  include _vars
  -
    header         = `Menu`
    file           = `menu`
    url            = url+`${file}.html`
    title          = `${header} | ${name}`
    description    = `This page shows multiple variations of navigation layout you can use.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.
    ._main_layout { max-width:none;padding:0; }
  //- 

mixin navlink(ref='')
  +_a(templateUrl+ref)._nav-item: block

mixin menu(x)
  +nav#_nav
    +menus(x)

mixin menus(x)
  if x == 'templates'
    +navlink('full_screen.html')| Full
    +navlink('split_screen.html')| Split
    +navlink('flex_gallery.html')| Flex
    +navlink('classic_page.html')| Page
    +navlink('classic_list.html')| List
    +navlink("blank.html")| Blank
    +navlink('closed.html')| Closed
    +_a(homeUrl+"404.html")._nav-item| 404
    +_a(homeUrl+"500.html")._nav-item| 500
  else
    +demo("view.html")| View
    //- +demo("layout.html")| Layout
    +demo("flex.html")| Flex
    +demo("colors.html")| Colors
    +demo("texts.html")| Texts
    +demo("icons.html")| Icons
    //- +demo("images.html")| Image
    //- +demo("video.html")| Video
    //- +demo("buttons.html")| Buttons
    //- +demo("background.html")| Background
    +demo("containers.html")| Containers
    //- +demo("form.html")| Form
    //- +demo("transitions.html")| Transitions
    //- +demo("animations.html")| Animations
    +demo("menu.html")| Menu
    //- +demo("popups.html")| Popups
    //- +demo("dialogs.html")| Dialogs
    +demo("theme.html")| Theme
    //- +demo("helpers.html")| Helpers
    +demo("blank.html")| Blank

block main

  +main#_main: article

    section#t1._mb: ._flex: ._fill: +nav#_nav
      |You can : &nbsp;
      +a()._btnlink._small|Combine
      +_a()._nav-item._nav-icon: +isvg(svgd.compare)
      +_a()._nav-item| Multiple
      +_a()._nav-item| Kinds of
      +_a()._nav-item._nav-icon._b: +middots
      +_a()._nav-item| Menu
      +_a()._nav-item._nav-icon: +isvg(svgd.ellipsis)

    section#t2._mv: ._flex
      ._f-12-1._pa._nav-color: +a()._btnlink._smaller|Home
      ._fill(style="min-width:10rem"): +menu
      ._f-12-1._text-right._pa._nav-color: +_a()()._nav-item._nav-icon: +isvg(svgd.compare)

    section#t3._mv
      #_navbar._flex
        ._f-12-1._nav-color#_logo-flex: include _logo
        ._fill(style="min-width:10rem"): +menu
        ._f-12-1._text-right._pa._nav-color: +_a()._nav-item._nav-icon: +isvg(svgd.compare)
    
    //- section#t4._mv

      style.
        ._icons ._isvg { min-width:2.25em; height:2.25em; }

      #_navbar._flex
        ._f._icons: +isvg(svgd.bars)
        ._fill(style="min-width:10rem")
          +nav#_nav
            +menus
        ._f._icons
          +isvg(svgd.compare)
          +isvg(svgd.ellipsis)

block footer
