extends _html

block append vars
  - heading = `Starter Page`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `Just a blank page to start building.` )
  - updateUrl( siteUrl+"starter.html" )

//- block main
  //- +main#_main: article| main article
  +pageData#_pageData._page_layout
