extends _html

block append vars
  - heading = `Test AceJs`
  - updateTitle( `${heading}` )
  - updateDescription( `Test page.` )
  - updateUrl( siteUrl+"test_acejs.html" )

block style
  style.
    ._inline { display:inline }
    ._small  { font-size:.9em }
    ._mono   { font-family: 'Consolas',monospace; }
    ._pre    {  }
    ._scrollable { overflow:auto; scroll-behavior:smooth; }
    ._m0 { margin:0 }
    #nav .icon { text-align:center }
    #nav ._link {
      text-decoration: none;
      padding:.1em .3em;
      border-radius: .2em;
      display:inline-block;
      min-width: 0.801em;
      line-height: 1.2;
      font-weight: bold;
      color:inherit;
    }
    #nav ._link:hover { outline: 2px solid #888; }

    #jso {
      height:30em;
      background-color: #181818;
      color: #ddd;
      border-radius: .5rem;
      box-shadow: 0 0 10px #080808 inset;
    }

    #jsout { padding:.5rem; margin:0; }

    #jsout hr { border-color:#333; }

    .h { color:#000 }
    @media (prefers-color-scheme: dark) {
      .h { color:#fff }
    }

  //- style.

  +htmlPreset
  //- +cssv(assetsUrl+'gcss/ace.css')
  //- +cssv(assetsUrl+'gcss/style.css')
  +cssv(assetsUrl+'gcss/scrollbar.css')

block nav

block header

block main
  +main#_main: article

    section._p
      #nav._inline._mono
        +backlink._link.icon|&larr;
        +_a(homeUrl,"Back to Ace Template")._link| Home
      ._inline._small
        b: span#jstest(style="color:red;")='[JS KO]'
    hr

    section
      h1._h7.h._small._mono !{heading}
      #jso._mono._scrollable._full_width._text_left
        pre#jsout

  //- +main#_main: article

block script
  //- +jsv(src)
  +jsv('/_ace/scripts/ts_js/ace.js')(defer)
  +jsv('/_ace/scripts/test_js/test_ace.js')(defer)

  script.
    (function(){

      var jstest = document.getElementById('jstest');
      jstest && (jstest.setAttribute('style','color:green;'),jstest.innerHTML = '[JS OK]');

      // Automatically scroll to the bottom of the page when the page loads
      var jso = document.getElementById('jso');
      window.onload = function() {
          jso.scrollTo(0, jso.scrollHeight);
      };

    })();