//- ==============================================================
//- variables for every html page
//- ==============================================================
-
  name     = 'Van Amir'
  siteUrl += 'vanamir/';

//- ==============================================================
