extends ../../core_2/_error

//- ==============================================================
//- variables for every error page
//- ==============================================================
block append vars
  include _vars
  - layout = 'components/_error';

  - heading = 'Oops!'
  - about   = 'Sorry, we are experiencing dificulties.'

block updatePageData
  - updateTitle( `${heading}` )
  - updateDescription( about )
  - updateUrl( siteUrl + filename, og_type )
  - updateImage( og_image, og_imageAlt )
