@use "mixins" as *;
@use "color-values" as *;

// ======================================================= base */

// ---------------------------------------------------- outline */
$outline_color: #f80;
._outline   { box-shadow: 0 0 0 1px $outline_color; }

// ------------------------------------------------ ::selection */
// - must follow this format. - will not work otherwise.
// - each vendor specific must be seperately declared. - cant combine.
// - use background-color not background.
// - dont append or include other class.

$select_color : #FFFF00;
$select_bg    : #FFFF00CC;
$select_tc    : #000;
::selection {
  background-color: $select_bg !important;
  color: $select_tc !important;
  text-shadow: none !important;
}
._select {
  background-color: $select_color;
  color: $select_tc;
  text-shadow: none;
}

// ------------------------------------------------ line-height */

* { line-height: 1.5 }
._lh_0    { line-height: 0 }
._lh_1    { line-height: 1 }
._lh_2    { line-height: 2 }
._lh_1x5  { line-height: 1.5 }

._code,
pre,._pre { line-height: 1.3 }

td { @extend ._lh_1; }

// ------------------------------------------------- paragraphs */

*       { margin: 0; }
p,._p   { margin: 1rem 0; }
hr,._hr { margin: .5rem 0; }
li,._li { margin: 0; } // improve responsive consistency

h1,h2,h3,h4,h5,h6,
._h1,._h2,._h3,._h4,._h5,._h6,._h7,
ul,ol,
li,._li,
pre,._pre { @extend ._p; }

// ------------------------------------------------------ fonts */

pre,._pre {
  @extend ._mono;
  @extend ._small;
}

._small       { font-size: .9em }
._smaller     { font-size: .8em }
._smallest    { font-size: .7em }

// ------------------------------------------------- containers */

._full_width { width:100%; }

#_html,
#_body,
#_contents,
._view,
._full_view {  // all parents of full view must also be full.
  display: block;
  width  : 100%;
  height : 100%;
  margin : 0;
}

#_contents {
  @include position-absolute(0);
  overflow: auto;
}

#_html,
#_body,
#_contents,
._view,
._scrollable {
  scroll-behavior: smooth;
}

._view {
  overflow-x: auto;
  overflow-y: scroll;
}

@media print {
  #_contents,
  ._view {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
  }
  #_contents,
  ._view,
  ._scrollable {
    overflow: visible !important;
  }
  pre {
    padding: 1em !important;
    overflow: visible !important;
  }
}

#_html {
  @extend ._font_1;
  text-size-adjust: 100%;
  font-size: 1em;
}

._main_layout,
._header_layout,
._footer_layout,
._page_layout { margin: -1px auto; padding: 1px 1rem; }
._nav_layout  { margin: 0 auto; padding: 0 1rem; }

._footer_layout { margin-bottom: 1rem } /* make way for browser status bar */

// ------------------------------------------------- components */

hr,._hr {
  display: block;
  border: 0;
  padding: 0;
  height: .05rem;
}

._btnlink {
  @extend ._numb;
  @extend ._radius_x25r;
  cursor: pointer;
  display: inline-block;
  padding: .3em .6em;
  border: 1px solid $tc_2_9;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  min-width: 1em;
  line-height: 1;
  margin: .05rem 0;
  &:hover { text-decoration: none; }
}

._hover_link {
  padding: 0 .3em;
  border-radius: .3rem;
  text-decoration:none;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
}

#_html ._hover_link {
  color: inherit;
}

._label {
  display: inline-block;
  padding: 0 .3em;
  margin: .05rem 0;
  border-radius: .3rem;
  vertical-align: middle;
}

._link {
  @extend ._hover_link;
  @extend ._label;
}

._nav_icon {
  padding: 0;
  min-width: 1.7em;
  min-height: 1.7em;
  text-align: center;
  font-weight: normal;
}

._code {
  @extend ._mono;
  @extend ._tc_2_8;
  font-weight: bold;
  padding: 0 .25em;
  line-height: 1.3;
}

._dark ._code { @extend ._tc_2_3; }

._icon {
  @extend ._numb;
  display: inline-block;
  height   : 1.5em;
  min-width: 1.5em;
  text-align: center;
  vertical-align: middle;
}

.itext {
  @extend ._mono;
  line-height: 1;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-rendering: auto;
}

._itext { @extend ._icon; overflow: hidden; }
._itext .itext { font-size: 1.4em; } /* offset baseline for *most-icons */

._isvg { @extend ._icon; svg { vertical-align:top; } } /* fix spinning axis */

._btnlabel {
  display: inline-block;
  padding: 0 .5em;
  vertical-align: middle;
}

/* ==================================================== customs */

#_contents { min-width: 15rem; }

._nav_layout,
._header_layout,
._footer_layout,
._main_layout,
._page_layout { max-width:60rem }

._nav_color { @include color( $tc_2_8, $bg_2_8 ); }

._dark {
._nav_color { @include color( $tc_1_2, $bg_1_2 ); }
}

/* ------------------------------------------------------ theme */

$light_primary_tc : #1b36b0;
$dark_primary_tc  : #7a8eea;
html   ._tc_primary  { color: $light_primary_tc  }
._dark ._tc_primary  { color: $dark_primary_tc  }

#_html._dark { background-color: #222; color: #999; }
// #_html._dark hr { border-color: #3c3c3c; }

#_html.pink  { background-color: #ffc0cb; color: #955353; }
.pink ._nav_color { background: #7c3944; color:#ffd0db; ._tc_contra { color:#fff} }
.pink._a a,.pink._a a._stay_fresh:visited { color: #5e101d; }
.pink ._hero_2 {
  font-size: 3em;
  font-weight: 100;
  font-family: system-ui, sans-serif;
}
.pink ._h1,.pink ._h2,.pink ._h3,.pink ._h4,.pink ._h5,.pink ._h6,.pink ._h7,
.pink h1,.pink h2,.pink h3,.pink h4,.pink h5,.pink h6
{ color: #7c3944; font-weight: 100; }
.pink ._h2 {
  &::after {
    content: '';
    height: 0.3rem;
    background: #ff8ba0;
    display: block;
    width: 40%;
    position: relative;
    left: 15%;
    border-radius: .2rem;    
  }
}
.pink ._code { color: #7c3944; }
.pink ._btnlink { color: #7c3944; border-color: #7c3944; }
.pink hr { border-top-color: #cf7591; }
.pink._a ._btnlink:hover,
#_html.pink ._hover_link:hover,#_html.pink ._link:hover { color: #5e101d; background-color: #ffdee3;  }

#_html.light { background-color: #faebd7; color: #7a7243; }
// #_html.light hr { border-color: #a4937a; }

// ================================================= transition */

._a a {
  &       { transition: color 0.5s, background-color 0.5s; }
  &:hover { transition:none }
}

._a a._hover_scale,
._a ._a_hover_scale a       {
  &       { transition: color 0.5s, background-color 0.5s, scale 0.2s; }
  &:hover { transition: scale 0.3s; scale:1.1; }
}

// ====================================================== theme */

#_html,
#_html       ._color_base { @include color( $tc_2_8, $bg_2_9 ); }
#_html._dark,
#_html._dark ._color_base { @include color( $tc_2_1, $bg_2_1 ); }

h1,h2,h3,h4,h5,h6,
._h1,._h2,._h3,._h4,._h5,._h6,._h7 { @include color( $tc_2_6 ); }

._dark {
h1,h2,h3,h4,h5,h6,
._h1,._h2,._h3,._h4,._h5,._h6,._h7 { @include color( $tc_2_4 ); }
}

._a a {
  &._stay_fresh:visited,
  &         { @include color( $light_link_tci ); }
  &:visited { @include color( $light_link_tcv ); }
  // &._stay_fresh:hover,
  &:hover   { @include color( $light_link_tci ); }
}

._dark._a a {
  &._stay_fresh:visited,
  &         { @include color( $dark_link_tci ); }
  &:visited { @include color( $dark_link_tcv ); }
  // &._stay_fresh:hover,
  &:hover   { @include color( $dark_link_tci ); }
}

._hrt { border-top    : 1px solid $light_shade; }
._hrb { border-bottom : 1px solid $light_shine; }
._dark ._hrt { border-top    : 1px solid $dark_shade; }
._dark ._hrb { border-bottom : 1px solid $dark_shine; }

hr { @extend ._hrt; @extend ._hrb; }

._a ._btnlink {
  &:visited,
  &:active,
  & { color: inherit; }
  &:hover { @include color( $light_button_tc, $light_button_bg ); }
}

._dark._a ._btnlink {
  &:visited,
  &:active,
  & { color: inherit; }
  &:hover {
    @include color( $dark_button_tc, $dark_button_bg );
  }
}

#_html       ._hover_link:hover { @include color( $light_contra, $light_button_bg ); }
#_html._dark ._hover_link:hover { @include color( $dark_contra, $dark_button_bg); }

/* ======================================================= flex */

$f_min: 4rem;
$f_base: 12;

._flex {
  display: flex;
  flex-flow:row wrap;
  align-content: flex-start;
  margin: 0 auto;
  min-width: $f_min;
}

// ._gaps
$gaps: (
  "_x5" : .5rem,
  ""     : 1rem,
  "_1x5" : 1.5rem,
  "_2"   : 2rem
);
@each $x, $value in $gaps {
  ._gap#{$x},
  ._gap_h#{$x} { column-gap: $value; }
  ._gap_v#{$x} { row-gap: $value; }
  ._gap_a#{$x}   { gap: $value; }
}

$gs: 12;
@each $g in $gs {
  @for $i from 1 through $g - 1 {
    $width: calc($i / $g);
    @if ( $g == 10 and $i == 5 ){ ._f_#{$g}_#{$i} { @extend ._f_12_6; } }
    @else {
      ._f_#{$g}_#{$i} {
        flex: $i 1 calc($i * 30 / $g * 1rem);
      }
    }
  }
}

._f {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  line-height: 0;
  margin: 0 auto;
}

._fill  { @extend ._f; flex: $f_base 1 $f_min; }
._f_fit { @extend ._f; flex: 1 1 fit-content; }

/* ============================================== color helpers */

._tc_2_1 { color: $tc_2_1 }
._tc_2_2 { color: $tc_2_2 }
._tc_2_3 { color: $tc_2_3 }
._tc_2_4 { color: $tc_2_4 }
._tc_2_5 { color: $tc_2_5 }
._tc_2_6 { color: $tc_2_6 }
._tc_2_7 { color: $tc_2_7 }
._tc_2_8 { color: $tc_2_8 }
._tc_2_9 { color: $tc_2_9 }

._tc_contra { color: $light_contra }

._dark {

  ._tc_contra { color: $dark_contra }

}

/* ==================================================== helpers */

._font_0,._system  { font-family: system-ui, sans-serif; }
._font_1,._sans    { font-family: "Arial", sans-serif; }
._font_2,._serif   { font-family: "Georgia", serif; }
._font_3,._mono    { font-family: "Consolas", monospace; }

._numb { user-select:none }

._inline  { display: inline }
._inblock { display: inline-block }

._relative { @include position-relative() }
._absolute { @include position-absolute(0,0) }
._fixed    { @include position-fixed(0,0) }

._text_left    { text-align: left    }
._text_center  { text-align: center  }
._text_right   { text-align: right   }
._text_justify { text-align: justify }

// ._radius
$radiuses: (
  "_x25r" : .25rem,
  "_x5r"  : .5rem,
  ""      : 1em
);
@each $x, $value in $radiuses { ._radius#{$x}  { border-radius: $value; } }

// ._margins
$margins: (
  "_x5r" : .5rem,
  ""     : 1em,
  "_2"   : 2em
);
@each $x, $value in $margins {
  ._ma#{$x}  { margin: $value; }
  ._mh#{$x} { @include mh($value); }
  ._mv#{$x} { @include mv($value); }
  ._ml#{$x} { margin-left: $value; }
  ._mr#{$x} { margin-right: $value; }
  ._mt#{$x} { margin-top: $value; }
  ._mb#{$x} { margin-bottom: $value; }
}

._m0,
._no_margin { margin:0 !important }
._mt0 { margin-top: 0 !important }
._mb0 { margin-bottom: 0 !important }

// ._paddings
$paddings: (
  "_x5r" : .5rem,
  ""     : 1em,
  "_2"   : 2em
);
@each $x, $value in $paddings {
  ._pa#{$x} { padding: $value; }
  ._ph#{$x} { @include ph($value); }
  ._pv#{$x} { @include pv($value); }
  ._pl#{$x} { padding-left: $value; }
  ._pr#{$x} { padding-right: $value; }
  ._pt#{$x} { padding-top: $value; }
  ._pb#{$x} { padding-bottom: $value; }
}

._p0,
._no_pad { padding:0 !important }
._pt0 { padding-top: 0 !important }
._pb0 { padding-bottom: 0 !important }

._no_wrap { white-space: nowrap !important }

._no_color { color: inherit !important }

/* ============================================== print helpers */

@media print {
  *::before{ content: none !important; }
  ._no_print { display: none !important; }
  ._btnlink,
  ._no_print_href a,
  ._no_print_href { &[href]::after { content: none !important; } }
  ._no_print_bg { background: none !important; }
}
