-
  let image = {
    colorscale_v:'colorscale-v.svg',
    colorscale:'colorscale.svg',
    endless_constellation:'endless-constellation.svg',
    flat_mountains:'flat-mountains.svg',
    grayscale:'grayscale.svg',
    none:''
  }
