-
  function halt(script){
    return 'event.preventDefault();'+script;
  }

  let js = {
    themeChange : halt('base.theme.change();'),
    goBack : halt('window.history.back();'),
    halt : halt()
  }