//- Basic SEO
title !{title||'(untitled)'}

+metaName("description",description||'(undescribed)')
+metaName("author",author||'(unknown)')
+metaName("publisher",publisher||'(unknown)')

//- Open Graph protocol to optimize your web page for social media sharing.
+metaProperty("og:title",og_title||'(untitled)')
+metaProperty("og:description",og_description||'(undescribed)')
+metaProperty("og:type",og_type)
+metaProperty("og:url",og_url)
+metaProperty("og:image",og_image)
+metaProperty("og:image:alt",og_imageAlt)
