//- __TLDR: Site configuration defaults.
//- Defaults will be overriden by pages as necessary.
//- =================================================================

include _functions
include ../_CONFIGS

-
  let cssi = undefined; // CSS images
  let svgi = undefined; // SVG images
  let temp = undefined; // temporary variables for small operations