extends html

block append vars
  - codeName  = 'error'
  - htmlClass = htmlClass+' _errorpage'

//- block append vars
  - heading = `(untitled)`
  - updateTitle( `${heading}` )
  - updateDescription( `(undescribed)` )

block seo
  title !{title||'(untitled)'}
  meta(name="description" content=description||'(undescribed)')/

block append style
  +cssv(assetsUrl+'css/errorpage.css')