extends ../../core/_html

block append vars
  //- variables for every html page
  - layout = 'pages/core/html';
  include _vars

block append style
  style.
    ._footer_layout, ._header_layout, ._main_layout
    { margin:auto; max-width:60em; padding:0 1rem }
  //- style.

block header

  include _nav
  //- +nav#_nav: ul: +lia

  +header#_header
    +heading#_heading !{heading}
    p !{about}
    hr
  //- header

//- block header

block footer
  +footer#_footer
    p._small._system &copy; !{copyright}
  //- footer
//- block footer

block append widgets

  style.
    ._nav_layout { margin-right: 2.5rem }
    #topi { position:absolute;top:0;right:0;width:100% }
    #topi .abs {
      position:absolute;
      top:0;
      right:15px;
      padding:5px;
      font-size:0;
    }
    #topi .link i { font-style:normal }
    #topi .link {
      font-family:monospace,monospace;
      font-size:1.3rem;
      color:inherit;
      text-decoration:none;
      text-align:center;
      display:inline-block;
      box-sizing:border-box;
      width:1.5rem;
      height:1.5rem;
      margin:.1rem;
      border:1px solid #888;
      line-height:1;
      font-weight:normal;
      border-radius:.3rem;
    }
  //- style.

  #topi._no_print: .abs
    block styleSwitch
    +_a.link._c_base(onclick=onclick(js.themeChange) title="Change Theme (Ctrl+Alt+T)") &bull;
