extends ../../core/_html

block append vars
  //- variables for every html page
  - layout = 'pages/core/html';
  include _vars

block append style

  //- style.

block header

  include _nav
  //- +nav#_nav: ul: +lia

  +header#_header
    +heading#_heading !{heading}
    p !{about}
    hr

//- block main_header

block footer
  +footer#_footer
    p &copy; !{copyright}
