extends ../../core/_html

block append vars
  //- variables for every html page
  - layout = 'pages/core/html';
  include _vars

block append style
  style.
    #_nav ._link { text-decoration:none; color:inherit; padding:0 .25em; }
    #_nav ._link:hover { text-decoration:underline; color:initial; }
  //- style.

block nav
  //- include _nav
  //- +nav#_nav: ul: +lia
  +nav#_nav
    +_a._link(href='index.html') Core
    +_a._link(href='basic.html') Basic
    hr
