mixin navbar

  style.
    #_nav ._nav_layout { margin:0;padding:.5rem }
  //- style.

  +nav#_nav._color_1._no_print
    -
      temp = [
        ['index.html','Core'],
        ['basics.html','Basics'],
        ['texts.html','Texts'],
        ['icons.html','Icons'],
        ['links.html','Links'],
        ['buttons.html','Buttons'],
        ['colors.html','Colors'],
        ['containers.html','Containers'],
        ['flex.html','Flex'],
        //- ['layouts.html','Layouts'],
        //- ['menu.html','Menu'],
        //- ['view.html','View'],
        //- ['blank.html','Blank'],
        //- ['test.html','Test'],
        //- ['theme.html','Theme'],
      ];
    each v in temp
      +a._link._l(href=v[0]) #{v[1]}

  //- nav