style.
  #_nav ._link { padding: .15em .3em; }
//- style.

+nav#_nav
  +_a._link(href='index.html') Core
  +_a._link(href='blank.html') Blank
  +_a._link(href='basics.html') Basics
  +_a._link(href='links.html') Links
  +_a._link(href='text.html') Text
  +_a._link(href='icons.html') Icons
  +_a._link(href='colors.html') Colors
  +_a._link(href='view.html') View
  +_a._link(href='test.html') Test
  hr
//- nav