mixin navbar

  style.
    #_nav ._nav_layout { margin:0;padding:.5rem }
    #_nav ._nav_layout a._link { line-height: 1.9em }
  //- style.

  +nav#_nav._c_bg_1
    +_a._link(href='index.html') Core
    +_a._link(href='blank.html') Blank
    +_a._link(href='basics.html') Basics
    +_a._link(href='text.html') Text
    +_a._link(href='icons.html') Icons
    +_a._link(href='links.html') Links
    +_a._link(href='colors.html') Colors
    +_a._link(href='containers.html') Containers
    +_a._link(href='view.html') View
    +_a._link(href='flex.html') Flex
    +_a._link(href='layouts.html') Layouts
    +_a._link(href='menu.html') Menu
    +_a._link(href='theme.html') Theme
    +_a._link(href='test.html') Test
  //- nav