mixin navbar

  style.
    #_nav ._nav_layout { margin:0;padding:.5rem }
    #_nav ._nav_layout a._link { line-height: 1.7em }
  //- style.

  +nav#_nav._c_bg_1._no_print
    -
      temp = [
        ['index.html','Core'],
        ['blank.html','Blank'],
        ['basics.html','Basics'],
        ['text.html','Text'],
        ['icons.html','Icons'],
        ['links.html','Links'],
        ['colors.html','Colors'],
        ['containers.html','Containers'],
        ['view.html','View'],
        ['flex.html','Flex'],
        ['layouts.html','Layouts'],
        ['menu.html','Menu'],
        ['theme.html','Theme'],
        ['test.html','Test'],
      ];
    each v in temp
      +_a._link(href=v[0]) #{v[1]}

  //- nav