style.
  #_nav ._link { padding: .15em .3em; }

+nav#_nav
  +_a._link(href='index.html') Core
  +_a._link(href='basics.html') Basics
  +_a._link(href='links.html') Links
  +_a._link(href='icons.html') Icons
  +_a._link(href='test.html') Test
  hr