style.
  #_nav ._link { padding: .15em .3em; }
  #_nav ._link:hover { outline: 1px solid #888; }

+nav#_nav
  +_a._link(onclick=onclick(js.themeChange)) #[+itext &bull;]
  +_a._link(href='index.html') Core
  +_a._link(href='basic.html') Basic
  +_a._link(href='links.html') Links
  +_a._link(href='test.html') Test
  hr