//- ==============================================================
//- Ace Core - variables
//- ==============================================================

- updateUrl( siteUrl+'core/' )
- let INCLUDE_NAV = true
