extends _html

block append vars
  - heading = `Basic Elements`
  - about   = `Styles for basic HTML elements.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'basic.html' )

block main

  +main#_main: article._ma
    +pageData#_pageData
    hr
  //- main

//- block main

