extends _html

block append vars
  - heading = `Blank`
  - about   = `A blank page to start building.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'blank.html' )

//- block main

  +main#_main: article
    +pageData#_pageData
  //- main

//- block main