extends _html

block append vars
  - heading = `Colors`
  - about   = `Colors add personality and theme to your page.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'colors.html' )
  include _color_functions

block append style
  style.
    .atheme {

    }
    .atheme ._f {
      padding: 5px;
      text-align: center;
    }
    .i {
      display: inline-block;
      font-size: 1.5em;
      line-height: 1;
      text-align: center;
      cursor: default;
    }
  //- style.

//- ☯
mixin theme(_b,f)
  .atheme._flex
    - n = 0;
    while n <= 255
      - c = [n,n,n];
      - b = rgbColor(_b);
      - bg = hexColor(c);
      - fg = hexColor(f(b,c));
      ._f(
        style="background-color:#"+bg+";color:#"+fg+";"
      ): span.i|☯
      - n+=17;

block main

  +main#_main: article

    section
      -
        v1 = (b,c)=>(255-c);
        f1 = (b,c)=>[
          v1(b[0],c[0]),
          v1(b[1],c[1]),
          v1(b[2],c[2]),
        ];
      +theme('222222',f1)

  //- main

//- block main