extends _html

block append vars
  - heading = `Containers`
  - about   = `Containers group contents together.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'containers.html' )

block append style
  style.

    .o { height:12rem }

  //- style.

block main
  +main#_main: article

    section._mv
      ._flex._gap_a
        ._f: .o._outline
        ._f: .o._border
        ._f: .o._radius_x25r._color_1
        ._f: .o._radius_x25r._color_2
      //- flex
    //- section

  //- main

//- block main