extends _html

block append vars
  - heading = `Core`
  - about   = `The structure of ${name}.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'index.html' )

block main

  +main#_main: article
    +pageData#_pageData
    hr
  //- main

//- block main