extends _html

block append vars
  - heading = `Layouts`
  - about   = `Various layouts are available for use.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'layouts.html' )

block append style
  style.
    ._footer_layout, ._header_layout, ._main_layout
    { max-width:none;padding:0;margin:.5rem }

  //- style.

block main

  +main#_main: article

  //- main

//- block main