extends _html

block append vars
  - heading = `Test page`
  - about   = `We keep brewing new styles from time to time.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'test.html' )

block append style
  style.
    ._footer_layout, ._header_layout, ._main_layout
    { max-width:none;padding:0;margin:.5rem }
  //- style.

block styleSwitch
  +_a.link._link._c_base(onclick=onclick('window.test.disableStyle();') title="Toggle Style") s
  script.
    (()=>{
      var
      e = document.getElementById("_core_style"),
      m = e.getAttribute("media"),
      disableStyle = ()=>{ e.setAttribute("media",e.getAttribute("media")==='x'?m:'x') };
      window.test = { disableStyle };
    })();
  //- script.

block main

  +main#_main: article

    section._small._i // sorry, nothing at the moment tho.

  //- main

//- block main