extends _html

block append vars
  - heading = `Testing Elements`
  - about   = `Testing styles for ${name}.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'test.html' )

block main

  +main#_main: article


    hr

  //- main

//- block main

