extends _html

block append vars
  - heading = `Test page`
  - about   = `We keep brewing new styles from time to time.`
  - updateTitle( `${heading} | ${name}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+'test.html' )

block style
  +htmlPreset
  //- +cssv(href,media='all')
  +cssv(assetsUri+'css/core/html.css')#_style
  style.
  //- style.

block styleSwitch
  +_a.link._c_base(onclick=onclick('window.test.disableStyle();') title="Toggle Style") s
  style.
    ._nav_layout { margin-right: 4.2rem }
  //- style.
  script.
    (()=>{
      var
      e = document.getElementById("_style"),
      m = e.getAttribute("media"),
      disableStyle = ()=>{ e.setAttribute("media",e.getAttribute("media")==='x'?m:'x') };
      window.test = { disableStyle };
    })();
  //- script.

block main

  +main#_main: article

    section._small._i // sorry, nothing at the moment tho.

  //- main

//- block main