extends ../pugs/error

block append vars
  - heading = `Oops!`
  +updateTitle( `${heading} | ${title}` )
  +updateDescription( `Sorry, an error occured while processing your request.` )

block main
  +main#_main
    h1#_h1 !{heading}
    p#_p !{description}
    nav#_nav: +backlink._btnlink Back
