-
  title          = "Ace Template"
  description    = "A solid foundation to build your website and application"

  brandName      = "Ace"
  codeName       = "ace"
  author         = "Techie Joe"

  url            = "https://techie-joe.github.io/ace/"

  og_title       = title
  og_description = description
  og_type        = "website"
  og_url         = url+"?utm_source=homescreen"
  og_image       = ""
  og_imageAlt    = ""
