include ../pugs/_svgis
include ../pugs/_cssis

- updateTitle( `Ace Template` )
- updateDescription( `A solid foundation to build your website and application` )
- updateUrl( "https://techie-joe.github.io/ace/" )
-
  brandName      = "Ace"
  codeName       = "ace"
  author         = "Techie Joe"
