- updateTitle( `Ace Template` )
- updateDescription( `Build your website and application on a solid foundation` )
- updateUrl( 'https://techie-joe.github.io/ace/' )
-
  brandName      = 'Ace'
  codeName       = 'ace'
  author         = 'Techie Joe'
