extends ../pugs/html

block append vars
  include _vars
  - heading = `Blank Page`
  +updateTitle( `${heading}` )
  +updateDescription( `(undescribed)` )

block main
  +main#_main: article
    nav#_nav._mv: +backlink._btnlink._smaller Back
    hr
    +pre: +putData
    hr
