extends _html

block append vars
  - heading = `Blank Page`
  - about   = `Just a blank page to start building.`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `${about}` )
  - updateUrl( siteUrl+"blank.html" )

//- block main
  //- +main#_main: article| main article
  +pageData#_pageData._page_layout
