extends ../pugs/error

block append vars
  +updateTitle( `Temporary closed | ${title}` )
  +updateDescription( `Sorry, we are currently unavailable. Please come again later.` )

block main
  +main#_main
    h1#_h1 !{title}
    p#_p !{description}
    nav#_nav: +backlink._btnlink Back
