extends ../_templates/html

block append vars
  include _demo-vars
  -
    header      = `Containers`
    title       = `${header} | ${name}`
    description = `Containers are used to group contents together.`
    url         = url+`/containers.html`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.
    ._layout { margin:1em }
  //- 

block main
  main#_main: article|This is a #{header}