extends ../_templates/demo

block append vars
  include _demo-vars
  -
    header      = `Containers`
    url         = url+`/containers.html`
    title       = `${header} | ${name}`
    description = `${header} are used to group contents together.`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.

    #_footer,
    #_header,
    #_main { max-width:none }
    #_main { padding:0 }

  //- 

block main
  main#_main: .layout
    article._ph
      ._h7._small This is about #{header}
    .g
      .u-1
        .gu: .o.o1-1
