extends demo/_template

block append vars
  include _vars
  -
    header         = "Ace Template"
    about          = `A solid foundation to start building your website and application. Our minimalistic approach ensures full control from the very beginning.`

    url            = "https://techie-joe.github.io/ace/"

    og_title       = title
    og_description = description
    og_url         = url+"?utm_source=homescreen"

  //- 

block append style
  style.
    #_html { min-width:320px }

    #_footer ._footer_layout,
    #_main ._main_layout   { padding: 1em; }
    #_header ._header_layout { padding: 2rem 1rem 2rem; }

    #_header { padding: 1px 0; }

    #_header    { color: #333; background: #ccc; }
    #_header h1 { color: #000; }

    ._dark #_header    { color: #aaa; background: #111; }
    ._dark #_header h1 { color: #fff; }

    #_html .pages ul { list-style-type: none; padding-inline-start: 0; }

    #_header ._header_layout { position:relative; }
    #_header .p { max-width: 490px; }

    #startNow._btnlink { padding: .5em 1.5em }
    #_header .startNow { text-align: center; width:100%; margin: 1.5em auto 0; }
    #_header .startNow ._btnlink:hover { background:#777;color:#fff; }

    @media screen and (min-width: 530px) {

      #_footer ._footer_layout,
      #_main ._main_layout   { padding: 0 3rem; }
      #_header ._header_layout { padding: 2rem 3rem 3rem; }

      #_html .startNow {
        display: block;
        float: right;
        text-align: right;
        width: 10em;
        position: absolute;
        top: 2em;
        right: 3rem;
        margin: 1.5em 1em;
      }

    }

block header
  +header#_header
    .p
      h1._hero-1 !{header}
      p._small by #[+a(authorUrl) !{author}]
      p._text-justify !{about}
    .startNow
      +a("demo")#startNow._btnlink| Get started
  //- 

block nav

block main
  +main#_main: article

    section._mv: include demo/_nav

    section._mv-2
      h2 Live Examples

      mixin la_example_1(ref='')
        +la("/ace/example_1/"+ref): block

      nav.pages: ._flex
        ._f-12-2
          ul._no-margin
            +la_example_1('index.html')| Example #1 - Takaful

    section._mv-2
      h2 Plain Templates

      mixin la_template(ref='')
        +la(templateUrl+ref): block

      nav.pages: ._flex
        ._f-12-2
          ul._no-margin
            +la_template('full_screen.html')| Full Screen
            +la_template('split_screen.html')| Split Screen
            +la_template('flex_gallery.html')| Flex Gallery
        ._f-12-2
          ul._no-margin
            +la_template('classic_page.html')| Classic Page
            +la_template('classic_list.html')| Classic List
            +la_template('blank_template.html')| Blank Template
        ._f-1
          ul._no-margin: li
            span.a Error pages:
            +a("---","Simulate Real 404")| ---
            +a("404.html")| 404
            +a("500.html")| 500
            +a(templateUrl+'closed.html')| Closed

    section._mv-2
      h2 Available in light and dark

      p._text-justify This template is readily available in both light and dark theme. You can easily switch between the two by using the keyboard shortcut #[code._code._no-wrap='Ctrl + Alt + T'] or executing #[code._code._no-wrap='base.theme.change()'] with a button like this:

      p: +a()(onclick="base.theme.change()")._btnlink._small Change Theme

    section._mv-2
      h2 Pre-made building components

      p._text-justify Our web template is equipped with pre-made building components and helper classes to give you an easy and intuitive building experience. We simplify web creation to make it accessible to everyone, even for those who may not have technical expertise. No lengthy manuals or confusing rules -- just dive in and start building. And if you're curious or need a bit more guidance, we have comprehensive #[+a('demo')._no-wrap demo articles] to help you out.
      
      ._mv: include demo/_nav

      p._mb-2._text-right: +a('demo')._btnlink View Demo

    ._p._small| Live @ #[+a(url)(target="techie-joes-github") #{url}]

