extends _html

block append vars
  - heading = `Info`
  - updateTitle( `${heading} | ${title}` )
  - updateDescription( `Info page.` )
  - updateUrl( siteUrl+"info.html" )

block main
  +main#_main: article

    section#acelinks._p
      +_a('..',"Parent's Page")._link._nav_icon|&bull;
      +_a(homeUrl,"Back to Ace Template")._link| Home
      +_a("---","Simulate a real 404")._link._nav_icon._no_print: +middots
      +_a("404.html","When a browser lands on a missing page.")._link| 404
      +_a("500.html","When your server encounters an error.")._link| 500

    hr

    section
      +pageData

    hr
