extends ../_templates/html

block append vars
  include _demo-vars
  -
    header      = `Views`
    title       = `${header} | ${name}`
    description = `View controls how page behave.`
    url         = url+`/views.html`

    og_title       = title
    og_description = description
    og_url         = url
  //- 

block append style
  style.

    #_widget ._layout {
      position: absolute;
      display: table;
      width: 100%;
      height: 100%;
      margin:0;
      text-align: center;
      z-index:1000;
    }
    
    #_nav {
      display: table-cell;
      vertical-align: middle;
      margin: 0 auto;
      padding: 1rem;
    }

    ._layout h1 { text-align: center }

    ._view { box-shadow: 0 3px red inset; }

  //- 

block view

  aside#_widget: ._layout
    nav#_nav
      +_a('./')._btnlink 👈
      +_a('#view-1')._btnlink #1
      +_a('#view-2')._btnlink #2
      +_a('#view-3')._btnlink #3
      +_a('#view-4')._btnlink #4

  ._view#view-1
    ._layout
      section: h1 View #1
  //- view

  ._view#view-2
    ._layout
      section: h1 View #2
  //- view

  ._view#view-3
    ._layout
      section: h1 View #3
  //- view

  ._view#view-4
    ._layout
      section: h1 View #4
  //- view