//- ==============================================================
//- Ace Builder - variables
//- ==============================================================

- heading = `Ace Builder`
- about   = `A power-tool for building websites and web applications.`
- updateTitle( `${heading}` )
- updateDescription( `${about}` )
- updateUrl( builderUrl )
