-
  title          = "Ace Template Builder"
  description    = "A solid framework to build your website and application"

  brandName      = "Ace"
  codeName       = "_ace"

  author         = "Techie Joe"

  url            = "https://github.com/techie-joe/_ace"

  og_title       = title
  og_description = description
  og_type        = "website"
  og_url         = url+"?utm_source=homescreen"
  og_image       = ""
  og_imageAlt    = ""