- updateTitle( `Ace Template Builder` )
- updateDescription( `A solid framework to build your website and application` )
- updateUrl( "https://techie-joe.github.io/_ace/" )
-
  brandName      = "Ace"
  codeName       = "_ace"
  author         = "Techie Joe"
