//- ==============================================================
//- LICENSE for Ace Builder
//- ==============================================================
extends ../core/text

block append vars
  include _vars

block main
  include ../core/LICENSE