//- ==============================================================
//- variables for every html page
//- ==============================================================
-
  siteUrl += 'elements/';

//- ==============================================================
