@use "mixins" as mix;

@use "html5";

//   |  |
// 01234567
// fedcba98
//   |  |

$_light-color-1  : #288;
$_light-color-2  : #bff;

$_light-bg       : #ddd;
$_light-tc       : #555;
$_light-hc       : #222;

$_light-bg-1     : #eee;
$_light-tc-1     : #555;
$_light-hc-1     : #077;

$_light-bg-2     : #222;
$_light-tc-2     : #555;
$_light-hc-2     : #088;

$_light-fg-1     : #288;
$_light-fgtc-1   : #bdd;
$_light-fghc-1   : #fff;

$_dark-color-1   : #288;
$_dark-color-2   : #bff;

$_dark-bg        : #222;
$_dark-tc        : #aaa;
$_dark-hc        : #ddd;

$_dark-bg-1      : #eee;
$_dark-tc-1      : #555;
$_dark-hc-1      : #077;

$_dark-bg-2      : #222;
$_dark-tc-2      : #555;
$_dark-hc-2      : #088;

$_dark-fg-1      : #288;
$_dark-fgtc-1    : #bdd;
$_dark-fghc-1    : #fff;

$light-button-bg-1 : #bbb;
$light-button-fg-1 : #222;

$light-button-bg-2 : #ccc;
$light-button-fg-2 : #333;

$dark-button-bg-1  : #444;
$dark-button-fg-1  : #ddd;

$dark-button-bg-2  : #333;
$dark-button-fg-2  : #ccc;

$light-link-color         : $_light-color-1;
$light-link-color-visited : #929;
$light-link-color-hover   : #d60;
$light-link-color-active  : #c33;

$dark-link-color         : $_dark-color-1;
$dark-link-color-visited : #c6c;
$dark-link-color-hover   : #e93;
$dark-link-color-active  : #f44;

@mixin _selection {
  background: #b0f;
  color:#fff;
}

::selection { @include _selection; }
::-moz-selection { @include _selection; }

._hero { font-size:6rem }
._h1,._text-1 { font-size:4.403rem }
._h2,._text-2 { font-size:3.310rem }
._h3,._text-3 { font-size:2.652rem }
._h4,._text-4 { font-size:2.214rem }
._h5,._text-5 { font-size:1.658rem }
._h6,._text-6 { font-size:1.327rem }
._h7,._text-7 { font-size:1.021rem }

._small    { font-size: .7em }

._sub,
._sup { line-height: 0.6em; font-size: 0.55em; }

/* ----------------------------------------------- helper */

._inblock { display: inline-block }

._fixed    { position: fixed }
._absolute { position: absolute }
._relative { position: relative }

._indent { text-indent: 2em }

._uppercase { text-transform: uppercase; }

._text-left    { text-align: left }
._text-center  { text-align: center }
._text-right   { text-align: right }
._text-justify { text-align: justify }

._m,
._mh,
._ml   { margin-left: 1em; }
._m-2,
._mh-2,
._ml-2 { margin-left: 2em; }

._m,
._mh,
._mr   { margin-right: 1em; }
._m-2,
._mh-2,
._mr-2 { margin-right: 2em; }

._m,
._mv,
._mt   { margin-top: 1em }
._m-2,
._mv-2,
._mt-2 { margin-top: 2em }

._m,
._mv,
._mb   { margin-bottom: 1em }
._m-2,
._mv-2,
._mb-2 { margin-bottom: 2em }

._pad,
._ph,
._pl   { padding-left: 1em; }
._pad-2,
._ph-2,
._pl-2 { padding-left: 2em; }

._pad,
._ph,
._pr   { padding-right: 1em; }
._pad-2,
._ph-2,
._pr-2 { padding-right: 2em; }

._pad,
._pv,
._pt   { padding-top: 1em }
._pad-2,
._pv-2,
._pt-2 { padding-top: 2em }

._pad,
._pv,
._pb   { padding-bottom: 1em }
._pad-2,
._pv-2,
._pb-2 { padding-bottom: 2em }

._radius { @include mix.border-radius(1em) }

._no-margin { margin:0 !important }

._remove-color { color: inherit !important }

a._no-u,
u._no-u { text-decoration: none !important }

._no-b { font-weight: normal !important }