@use "mixins" as mix;

@use "_html5.css";

//   |  |
// 01234567
// fedcba98
//   |  |

$_light-color-1  : #288;
$_light-color-2  : #bff;

$_light-bg       : #ddd;
$_light-tc       : #555;
$_light-hc       : #222;

$_light-bg-1     : #eee;
$_light-tc-1     : #555;
$_light-hc-1     : #077;

$_light-bg-2     : #222;
$_light-tc-2     : #555;
$_light-hc-2     : #088;

$_light-fg-1     : #288;
$_light-fgtc-1   : #bdd;
$_light-fghc-1   : #fff;

$_dark-color-1   : #288;
$_dark-color-2   : #bff;

$_dark-bg        : #222;
$_dark-tc        : #aaa;
$_dark-hc        : #ddd;

$_dark-bg-1      : #eee;
$_dark-tc-1      : #555;
$_dark-hc-1      : #077;

$_dark-bg-2      : #222;
$_dark-tc-2      : #555;
$_dark-hc-2      : #088;

$_dark-fg-1      : #288;
$_dark-fgtc-1    : #bdd;
$_dark-fghc-1    : #fff;

$light-button-bg-1 : #bbb;
$light-button-fg-1 : #222;

$light-button-bg-2 : #ccc;
$light-button-fg-2 : #333;

$dark-button-bg-1  : #444;
$dark-button-fg-1  : #ddd;

$dark-button-bg-2  : #333;
$dark-button-fg-2  : #ccc;

$light-link-color         : $_light-color-1;
$light-link-color-visited : #929;
$light-link-color-hover   : #d60;
$light-link-color-active  : #c33;

$dark-link-color         : $_dark-color-1;
$dark-link-color-visited : #c6c;
$dark-link-color-hover   : #e93;
$dark-link-color-active  : #f44;

/* ------------------------------------------------- base */

* { line-height: 1.2; margin: 0; }

._h7 { font-weight:bold }

h1,h2,h3,h4,h5,h6,._h7,
ul,ol,
p,pre { margin-top: 1rem; margin-bottom: 1rem; }

li { margin: .3em 0; }

hr {
  border: 1px solid #aaa;
  border-bottom-color: #fff;
}
._dark hr {
  border: 1px solid #000;
  border-bottom-color: #444;
}

#_html,
#_body { /* doc */
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  font-size:1.021rem;
  @include mix.text-size-adjust(100%);
}

/* ---------------------------------- default light theme */

#_html {
  background-color: $_light-bg;
  color: $_light-tc;
}

h1,h2,h3,h4,h5,h6,._h7 { color: $_light-hc; }

._a a {
  & {
    transition: color 0.5s, background-color 0.5s;
    color: $light-link-color;
  }
  &:hover { transition:none; }
  &:visited { color: $light-link-color-visited; }
}

a._btnlink {
  &,&:visited,&:active { color: inherit; }
  &:hover {
    color: $light-button-fg-1;
    background-color: $light-button-bg-1;
  }
}

/* ------------------------------------------- dark theme */

._dark {

  &#_html {
    background-color: $_dark-bg;
    color: $_dark-tc;
  }

  h1,h2,h3,h4,h5,h6,._h7 { color: $_dark-hc; }

  &._a a {
    & { color: $dark-link-color; }
    &:visited { color: $dark-link-color-visited; }
  }
  
  a._btnlink {
    &,&:visited,&:active { color: inherit; }
    &:hover {
      color: $dark-button-fg-1;
      background-color: $dark-button-bg-1;
    }
  }
  
}

/* ----------------------------------------------- helper */

._numb { @include mix.numb; }

#_html ._btnlink {
  @extend ._numb;
  cursor: pointer;
  display: inline-block;
  padding: .5em 1em;
  border-radius: .25em;
  border: 1px solid #888;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

._sans   { font-family: Arial, sans-serif; }
._impact { font-family: Impact; }
._mono   { font-family: "Courier New", Courier, monospace; }

._hide { display: none !important; }
