/*! Techie Joe's Base v0.1.0 | Copyright 2024 Techie Joe | https://github.com/techie-joe/base */

._grid {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start; /* prevents distributing space between rows */
  margin: 0 auto;
}

._g {
  display: inline-block;
  vertical-align: top;
  letter-spacing:normal;
  word-spacing:normal;
  text-rendering:auto;
  line-height:0;
}

._f { @extend ._g; flex:1 }

._f_1 { @extend ._g; flex:1 1 100% }

._1 { @extend ._g; width:100%; }


// 1,3,5,7
// 2,4,6,8
// 10,12,14,16

$g:12;
._#{$g}   { @extend ._1; }
@for $i from 1 through $g {
  @if( $i != $g ){
    ._#{$g}-#{$i} { @extend ._g; width: calc(100% / $g * $i) }
  }
}

$g:10;
._#{$g}   { @extend ._1; }
._#{$g}-5 { @extend ._12-6; }
@for $i from 1 through $g {
  @if( $i != $g and $i != 5 ){
    ._#{$g}-#{$i} { @extend ._g; width: calc(100% / $g * $i) }
  }
}

// $g:8;
// ._#{$g}   { @extend ._1; }
// ._#{$g}-2 { @extend ._12-3; }
// ._#{$g}-4 { @extend ._12-6; }
// @for $i from 1 through $g {
//   @if( $i != $g and $i != 4 and $i != 2 ){
//     ._#{$g}-#{$i} { @extend ._g; width: calc(100% / $g * $i) }
//   }
// }

$g:6;
._#{$g}   { @extend ._1; }
$f:2; @for $i from 1 through $g - 1 { ._#{$g}-#{$i} { @extend ._#{$g * $f}-#{$i * $f}; } }

$g:5;
._#{$g}   { @extend ._1; }
$f:2; @for $i from 1 through $g - 1 { ._#{$g}-#{$i} { @extend ._#{$g * $f}-#{$i * $f}; } }

$g:4;
._#{$g}   { @extend ._1; }
._#{$g}-1 { @extend ._12-3; }
._#{$g}-2 { @extend ._12-6; }
._#{$g}-3 { @extend ._12-9; }

$g:3;
._#{$g}   { @extend ._1; }
._#{$g}-1 { @extend ._12-4; }
._#{$g}-2 { @extend ._12-8; }

$g:2;
._#{$g}   { @extend ._1; }
._#{$g}-1 { @extend ._12-6; }

// @media screen and (min-width: 20em){} //    ≥ 320px   ._g-ms-*   Mobile S
// @media screen and (min-width: 23.4em){} //  ≥ 375px   ._g-mm-*   Mobile M
// @media screen and (min-width: 26.6em){} //  ≥ 425px   ._g-ml-*   Mobile L
// @media screen and (min-width: 35.5em){} //  ≥ 568px   ._g-s-*
// @media screen and (min-width: 48em){} //    ≥ 768px   ._g-m-*    Laptop S
// @media screen and (min-width: 60em){} //    ≥ 960px   ._g-r-*    Regular PC / 960gs
// @media screen and (min-width: 64em){} //    ≥ 1024px  ._g-l-*    Laptop M
// @media screen and (min-width: 80em){} //    ≥ 1280px  ._g-2l-*
// @media screen and (min-width: 90em){} //    ≥ 1440px  ._g-3l-*   Laptop L
// @media screen and (min-width: 120em){} //   ≥ 1920px  ._g-4l-*
// @media screen and (min-width: 160em){} //   ≥ 2560px  ._g-4k-*   4K
// @media screen and (min-width: 240em){} //   ≥ 3840px  ._g-5k-*
