/*! Techie Joe's Base v0.1.0 | Copyright 2024 Techie Joe | https://github.com/techie-joe/base */

@use "mixins" as mix;

@use "_html5.css";

/* ----------------------------------------------- colors */

//   |  |
// 01234567
// fedcba98
//   |  |

$bg-1-1 : #000000;
$bg-1-2 : #111111;
$bg-1-3 : #eeeeee;
$bg-1-4 : #ffffff;
.bg-1-1 { background-color: #000000 }
.bg-1-2 { background-color: #111111 }
.bg-1-3 { background-color: #eeeeee }
.bg-1-4 { background-color: #ffffff }
$tc-1-1 : #444444;
$tc-1-2 : #5d5d5d;
$tc-1-3 : #919191;
$tc-1-4 : #aaaaaa;
.tc-1-1 { color: #444444 }
.tc-1-2 { color: #5d5d5d }
.tc-1-3 { color: #919191 }
.tc-1-4 { color: #aaaaaa }
.bc-1-1 { border-color: #000000 }
.bc-1-2 { border-color: #111111 }
.bc-1-3 { border-color: #eeeeee }
.bc-1-4 { border-color: #ffffff }

$bg-2-1 : #222222;
$bg-2-2 : #333333;
$bg-2-3 : #4c4c4c;
$bg-2-4 : #666666;
$bg-2-5 : #808080;
$bg-2-6 : #999999;
$bg-2-7 : #b2b2b2;
$bg-2-8 : #cccccc;
$bg-2-9 : #dddddd;
.bg-2-1 { background-color: #222222 }
.bg-2-2 { background-color: #333333 }
.bg-2-3 { background-color: #4c4c4c }
.bg-2-4 { background-color: #666666 }
.bg-2-5 { background-color: #808080 }
.bg-2-6 { background-color: #999999 }
.bg-2-7 { background-color: #b2b2b2 }
.bg-2-8 { background-color: #cccccc }
.bg-2-9 { background-color: #dddddd }
$tc-2-1 : #999999;
$tc-2-2 : #b2b2b2;
$tc-2-3 : #cccccc;
$tc-2-4 : #e5e5e5;
$tc-2-5 : #FFFFFF;
$tc-2-6 : #212121;
$tc-2-7 : #3a3a3a;
$tc-2-8 : #545454;
$tc-2-9 : #6e6e6e;
.tc-2-1 { color: #999999 }
.tc-2-2 { color: #b2b2b2 }
.tc-2-3 { color: #cccccc }
.tc-2-4 { color: #e5e5e5 }
.tc-2-5 { color: #FFFFFF }
.tc-2-6 { color: #212121 }
.tc-2-7 { color: #3a3a3a }
.tc-2-8 { color: #545454 }
.tc-2-9 { color: #6e6e6e }

$light-shade     : $tc-1-4;
$light-shine     : $bg-1-4;

$dark-shade      : $bg-1-1;
$dark-shine      : $tc-1-1;

$light-button-bg : $bg-2-7;
$light-button-tc : $tc-2-7;

$dark-button-bg  : $bg-2-3;
$dark-button-tc  : $tc-2-3;

$light-link-tc   : #2244DD;
$light-link-tcv  : #992299;
$light-link-tch  : #DD8811;
$light-link-tca  : #DD1111;

._blue   { color: #2244DD }
._purple { color: #992299 }
._orange { color: #DD8811 }
._red    { color: #DD1111 }

$dark-link-tc    : #4e69e3;
$dark-link-tcv   : #9f4ef1;
$dark-link-tch   : #e39f40;
$dark-link-tca   : #e34040;

._dark {

  ._blue   { color: #4e69e3 }
  ._purple { color: #9f4ef1 }
  ._orange { color: #e39f40 }
  ._red    { color: #e34040 }

}

/* ----------------------------------------------- helper */

._sans   { font-family: Arial, sans-serif; }
._mono   { font-family: "Courier New", Courier, monospace; }

._b { font-weight: bold }
._u { text-decoration: underline }

._numb { @include mix.numb; }

._inblock { display: inline-block }

._relative { position: relative }
._absolute { position: absolute;top:0;left:0; }
._fixed    { position: fixed;top:0;left:0; }

._radius-2r { @include mix.border-radius(.25rem) }
._radius-1r { @include mix.border-radius(.5rem) }
._radius    { @include mix.border-radius(1em) }


/* ------------------------------------------------- base */

._outline,
html   { box-shadow: 0 3px red inset; } /* mark red if you include but don't use */
#_html { box-shadow: none } /* remove mark when in use */

// ::selection must follow this format. will not work otherwise
// - must be declared seperately, cant combine
// - use background-color not background
// - dont append or include in other class
$select-bg : #FFFF00aa;
$select-tc : #000;
@mixin selection {
  background-color: $select-bg !important;
  color: $select-tc !important;
  text-shadow: none !important;
}
// ::-webkit-selection { @include selection; }
// ::-moz-selection    { @include selection; }
// ::-ms-selection     { @include selection; }
::selection         { @include selection; }

* { line-height: 1.5; margin: 0; }
._line-spacing-1 { line-height: 1 }
._line-spacing-2 { line-height: 2 }

._p { margin-top: 1rem; margin-bottom: 1rem; }
h1,h2,h3,h4,h5,h6,._h7,
ul,ol,
p,pre { @extend ._p; }

li { margin: .3em 0; }

._h7 { @extend ._b; }

#_content,
#_body,
#_html {
  @extend ._sans;
  @include mix.text-size-adjust(100%);
  font-size:1em;
  display: block;
  position: absolute;
  top    : 0;
  bottom : 0;
  right  : 0;
  left   : 0;
  width  : 100%;
  height : 100%;
  margin : 0;
  overflow: auto;
}

._view {
  width  : 100%;
  height : 100%;
  margin : 0;
  overflow: auto;
}

._hero        { font-size: 6rem }
._h1,._text-1 { font-size: 4.335rem }
._h2,._text-2 { font-size: 3.250rem }
._h3,._text-3 { font-size: 2.600rem }
._h4,._text-4 { font-size: 1.857rem }
._h5,._text-5 { font-size: 1.444rem }
._h6,._text-6 { font-size: 1.182rem }
._h7,._text-7 { font-size: 1rem }

._small       { font-size: .8em }
._smaller     { font-size: .6em }

._sub,
._sup { line-height: 0.6em; font-size: 0.53em; }

._code {
  @extend ._mono;
  @extend .tc-2-8;
  font-weight: bold;
  padding: 0 .25em;
  vertical-align: 0.05em;
}

._dark ._code {
  @extend .tc-2-3;
}

hr {
  height: 0;
  border-top    : 1px solid $light-shade;
  border-bottom : 1px solid $light-shine;
}
._dark hr {
  border-top    : 1px solid $dark-shade;
  border-bottom : 1px solid $dark-shine;
}

#_html ._btnlink {
  @extend ._numb;
  @extend ._radius-2r;
  cursor: pointer;
  display: inline-block;
  padding: .25em 1em;
  border: 1px solid $tc-2-9;
  text-decoration: none;
  &:hover { text-decoration: none; }
}


/* ---------------------------------- default light theme */

#_html {
  background-color: $bg-2-9;
  color: $tc-2-9;
}

h1,h2,h3,h4,h5,h6,._h7 { color: $tc-2-6; }

._a a {
  & { transition: color 0.5s, background-color 0.5s; }
  &._no-visited:visited,
  &         { color: $light-link-tc; }
  &:visited { color: $light-link-tcv; }
  // &._no-visited:hover,
  &:hover   { transition:none; }
}

a._btnlink {
  &:visited,
  &:active,
  & { color: inherit; }
  &:hover {
    background-color: $light-button-bg;
    color: $light-button-tc;
  }
}

/* ------------------------------------------- dark theme */

._dark {

  &#_html {
    background-color: $bg-2-1;
    color: $tc-2-1;
  }

  h1,h2,h3,h4,h5,h6,._h7 { color: $tc-2-4; }

  &._a a {
    &._no-visited:visited,
    &         { color: $dark-link-tc; }
    &:visited { color: $dark-link-tcv; }
    // &._no-visited:hover,
    // &:hover   {  }
  }
  
  a._btnlink {
    &:visited,
    &:active,
    & { color: inherit; }
    &:hover {
      background-color: $dark-button-bg;
      color: $dark-button-tc;
    }
  }
  
}

/* ----------------------------------------- custom styles */

// @media only screen and (max-width: 499px) {}

.gu { padding: 3px; }
       .o { @extend .bg-2-8; }
._dark .o { @extend .bg-2-2; }

.o1-1 { height:300px; }
.o1-2 { height:300px; }
.o2-2 { height:606px; }

.o1-3 { height:150px; }
.o2-3 { height:306px; }
.o3-3 { height:462px; }

.o1-4 { height:100px; }
.o2-4 { height:206px; }
.o3-4 { height:312px; }
.o4-4 { height:418px; }

/* ------------------------------------------ main helper */

._indent { text-indent: 2em }

._uppercase { text-transform: uppercase }

._text-left    { text-align: left }
._text-center  { text-align: center }
._text-right   { text-align: right }
._text-justify { text-align: justify }

._m-f1,
._mh-f1,
._ml-f1 { margin-left: .5rem }
._m,
._mh,
._ml    { margin-left: 1em }
._m-2,
._mh-2,
._ml-2  { margin-left: 2em }

._m-f1,
._mh-f1,
._mr-f1 { margin-right: .5rem }
._m,
._mh,
._mr    { margin-right: 1em }
._m-2,
._mh-2,
._mr-2  { margin-right: 2em }

._m-f1,
._mv-f1,
._mt-f1 { margin-top: .5rem }
._m,
._mv,
._mt    { margin-top: 1em }
._m-2,
._mv-2,
._mt-2  { margin-top: 2em }

._m-f1,
._mv-f1,
._mb-f1 { margin-bottom: .5rem }
._m,
._mv,
._mb    { margin-bottom: 1em }
._m-2,
._mv-2,
._mb-2  { margin-bottom: 2em }

._pad-f1,
._ph-f1,
._pl-f1 { padding-left: .5rem }
._pad,
._ph,
._pl    { padding-left: 1em }
._pad-2,
._ph-2,
._pl-2  { padding-left: 2em }

._pad-f1,
._ph-f1,
._pr-f1 { padding-right: .5rem }
._pad,
._ph,
._pr    { padding-right: 1em }
._pad-2,
._ph-2,
._pr-2  { padding-right: 2em }

._pad-f1,
._pv-f1,
._pt-f1 { padding-top: .5rem }
._pad,
._pv,
._pt    { padding-top: 1em }
._pad-2,
._pv-2,
._pt-2  { padding-top: 2em }

._pad-f1,
._pv-f1,
._pb-f1  { padding-bottom: .5rem }
._pad,
._pv,
._pb     { padding-bottom: 1em }
._pad-2,
._pv-2,
._pb-2   { padding-bottom: 2em }

._no-margin { margin:0 !important }

._no-color { color: inherit !important }

a._no-u,
u._no-u { text-decoration: none !important }

._no-b { font-weight: normal !important }

._hide { display: none !important; }